a.hover{
    text-decoration:none;
}
.padding8
{
    padding: 8px 0;
}
.font-prolight {
    font-family: OpenSans-Light;
}

.font-bold {
    font-family: OpenSans-SemiBold;
}
.font-sanspro-light {
    font-family: "Source Sans Pro"!important;
    font-weight: 300;
}
.font-sanspro-extralight {
    font-family: "Source Sans Pro"!important;
    font-weight: 200;
}

.font-sanspro-regular {
    font-family:"Source Sans Pro"!important;
    font-weight: 400;
}
.font-sanspro-semibold {
    font-family: "Source Sans Pro"!important;
    font-weight: 600;
}

.font-lightitalic {
    font-family: "OpenSans-LightItalic";
}

.font-extralight {
    font-family: "SourceSansPro-ExtraLight";
}

.font-sanspro-black {
    font-family: "SourceSansPro-Black";
}
.fs-16
{
    font-size: 13px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.nopadding {
    padding: 0px;
}

.paddingleft0 {
    padding-left: 0px !important;
}

.paddingright0 {
    padding-right: 0px !important;
}

.paddingleft7 {
    padding-left: 7px;
}
.paddingleft9 {
    padding-left: 19px;
}
/* Add Id*/
.mt-18{
    margin-top:18px !important;
}
/* Add Date:07.11.2019*/


.margin0 {
    margin: 0px;
}

.marginright15 {
    margin-right: 15px;
}

.marginleft15 {
    margin-left: 15px;
}

.marginright20 {
    margin-right: 20px;
}

.marginleft20 {
    margin-left: 20px;
}

.margintop0 {
    margin-top: 0px;
}

.margintop5 {
    margin-top: 5px;
}

.margintop10 {
    margin-top: 10px;
}

.marginleft10 {
    margin-left: 10px;
}

.marginright10 {
    margin-right: 10px;
}

.margintop15 {
    margin-top: 15px;
}

.margintop20 {
    margin-top: 20px;
}

.margintop30 {
    margin-top: 30px;
}

.marginbottom0 {
    margin-bottom: 0px;
}

.marginbottom10 {
    margin-bottom: 10px;
}

.marginbottom15 {
    margin-bottom: 15px;
}

.marginbottom30 {
    margin-bottom: 30px;
}
a:focus, a:hover {
    color: #23527c;
    text-decoration: none !important;
}

.paddingleft0 {
    padding-left: 0px;
}

.paddingright15 {
    padding-right: 15px;
}

.display-table {
    display: table;
    width: 100%;
}

.display-row {
    display: table-row;
}

.display-cell {
    display: table-cell;
}

.common-banner-syle {
    opacity: 0.5;
}

.common-rightside-card-main {
    min-height: 75vh;
    border: 1px solid #000;
    background-color: #fff;
}

.position-relative {
    position: relative;
}

.common-outline-remove:focus {
    outline-style: none;
    box-shadow: none;
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.display-inline {
    display: inline-block;
}
.mobilemargintop0{margin-top: 10px;}
.history-count{margin: 15px;}
input[type]:focus {
    border-color: #658258;
    outline: 0 !important;
    // -webkit-box-shadow: none !important;
    // box-shadow: none !important;
}
textarea.special-instructions.form-control {
    resize: vertical;
}
textarea:focus {
    border-color: #658258;
    outline: 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.width100 {
    width: 100% !important;
}

/*** Newcss***/
.save-card{ margin-top:129px}

/** new css**/

.mt-70 {margin-top: 70px !important;}

.color-1 {
    background: rgb(135, 100, 75);
    background: -moz-linear-gradient(top, rgba(135, 100, 75, 1) 0%, rgba(135, 100, 75, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(135, 100, 75, 1) 0%, rgba(135, 100, 75, 1) 100%);
    background: linear-gradient(to bottom, rgba(135, 100, 75, 1) 0%, rgba(135, 100, 75, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#87644b', endColorstr='#87644b', GradientType=0);
}

.color-1::after {
    background: #87644B;
}

.color-1 .mobile-header-slider li a {
    border-color: #fff;
}

.color-2 {
    background: rgb(32, 51, 53);
    background: -moz-linear-gradient(top, rgba(32, 51, 53, 1) 0%, rgba(32, 51, 53, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(32, 51, 53, 1) 0%, rgba(32, 51, 53, 1) 100%);
    background: linear-gradient(to bottom, rgba(32, 51, 53, 1) 0%, rgba(32, 51, 53, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#203335', endColorstr='#203335', GradientType=0);
}

.color-2::after {
    background: #203335;
}

.color-3 {
    background: rgb(15, 14, 14);
    background: -moz-linear-gradient(top, rgba(15, 14, 14, 1) 0%, rgba(15, 14, 14, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(15, 14, 14, 1) 0%, rgba(15, 14, 14, 1) 100%);
    background: linear-gradient(to bottom, rgba(15, 14, 14, 1) 0%, rgba(15, 14, 14, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0f0e0e', endColorstr='#0f0e0e', GradientType=0);
}

.color-3::after {
    background: #0F0E0E;
}

.color-4 {
    background: rgb(221, 209, 204);
    background: -moz-linear-gradient(top, rgba(221, 209, 204, 1) 0%, rgba(221, 209, 204, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(221, 209, 204, 1) 0%, rgba(221, 209, 204, 1) 100%);
    background: linear-gradient(to bottom, rgba(221, 209, 204, 1) 0%, rgba(221, 209, 204, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ddd1cc', endColorstr='#ddd1cc', GradientType=0);
}

.color-4::after {
    background: #DDD1CC;
}

.color-5 {
    background: rgb(7, 128, 144);
    background: -moz-linear-gradient(top, rgba(7, 128, 144, 1) 1%, rgba(7, 128, 144, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(7, 128, 144, 1) 1%, rgba(7, 128, 144, 1) 100%);
    background: linear-gradient(to bottom, rgba(7, 128, 144, 1) 1%, rgba(7, 128, 144, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#078090', endColorstr='#078090', GradientType=0);
}

.color-5::after {
    background: #078090;
}

.color-5 .mobile-header-slider li a {
    border-color: #fff;
}

.color-6 {
    background: rgb(223, 211, 194);
    background: -moz-linear-gradient(top, rgba(223, 211, 194, 1) 1%, rgba(223, 211, 194, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(223, 211, 194, 1) 1%, rgba(223, 211, 194, 1) 100%);
    background: linear-gradient(to bottom, rgba(223, 211, 194, 1) 1%, rgba(223, 211, 194, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfd3c2', endColorstr='#dfd3c2', GradientType=0);
}

.color-6::after {
    background: #DFD3C2;
}

.color-7 {
    background: rgb(135, 100, 75);
    background: -moz-linear-gradient(top, rgba(135, 100, 75, 1) 1%, rgba(135, 100, 75, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(135, 100, 75, 1) 1%, rgba(135, 100, 75, 1) 100%);
    background: linear-gradient(to bottom, rgba(135, 100, 75, 1) 1%, rgba(135, 100, 75, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#87644b', endColorstr='#87644b', GradientType=0);
}

.color-7::after {
    background: #87644B;
}

.color-7 .mobile-header-slider li a {
    border-color: #fff;
}

.color-8 {
    background: rgb(2, 8, 11);
    background: -moz-linear-gradient(top, rgba(2, 8, 11, 1) 1%, rgba(2, 8, 11, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(2, 8, 11, 1) 1%, rgba(2, 8, 11, 1) 100%);
    background: linear-gradient(to bottom, rgba(2, 8, 11, 1) 1%, rgba(2, 8, 11, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#02080b', endColorstr='#02080b', GradientType=0);
}

.color-8::after {
    background: #02080B;
}

.color-9 {
    background: rgb(219, 195, 189);
    background: -moz-linear-gradient(top, rgba(219, 195, 189, 1) 1%, rgba(219, 195, 189, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(219, 195, 189, 1) 1%, rgba(219, 195, 189, 1) 100%);
    background: linear-gradient(to bottom, rgba(219, 195, 189, 1) 1%, rgba(219, 195, 189, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dbc3bd', endColorstr='#dbc3bd', GradientType=0);
}

.color-9::after {
    background: #DBC3BD;
}
