/***** signup page ******/
.signup-page {
    background-image: url('../images/dish_image1.png');
    /*background-repeat: no-repeat;*/
    background-size: 100%;
}

.white-color {
    color: #fff;
}

.black-color {
    color: #000;
}

.login-button {
    display: inline-block;
    padding: 6px 20px;
    margin-bottom: 0;
    font-size: 1.4vw;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 2px solid transparent;
    border-radius: 30px;
    border-color: #658258;
    background-color: #fff;
}

body.modal-open .container {
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
}

.custom-modal-dialog {
    width: 90%;
    max-width: 1270px;
    margin: 80px auto;
}

.common-card-width {
    width: 90%;
    max-width: 1070px;
    /*width: 90%;
  max-width: 850px;*/
    margin: 130px auto 0 auto;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.3);
    background-image: url("../images/addcard-bg.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}

.welcome-text {
    font-size: 3vw;
}

.button.close {
    color: #000;
}

.close-modal {
    color: #000000 !important;
    font-family: Helvetica;
    font-size: 2vw;
    opacity: 1;
}

.password-image,
.confirm-password-image .signup-form .terms {
    margin-bottom: 10px !important;
}

.warning-image {
    display: inline-block;
    width: 16px;
    margin-right: 2px;
}

.form-error-msg {
    margin-top: 20px;
}

/*place holder top while typing*/
.signup-form .form-group {
    position: relative;
    /* margin-bottom: 2.8rem; */
}

.signup-form .form-group label {
    color: #1f1f1f;
    font-family: OpenSans-Light;
    /* font-size: 1.5vw; */
    /*font-size: 2rem  !important;*/
}

.signup-form-container .form-group label {
    font-size: 1.9rem;
}

.signup-form-container .input label {
    font-size: 1.9rem;
}

.signup-form .form-control-placeholder {
    position: absolute;
    top: 0;
    padding: 7px 0 0 0px;
    transition: all 200ms;
    opacity: 0.5;
}

.signup-form input {
    border-radius: 0px;
    border: none;

    background-color: transparent !important;
    box-shadow: none;

    padding-left: 0px;
    /*font-size: 2rem;*/
    font-size: 1.5vw;
}
/* .payment.signup-form1 input {
    border-radius: 0px;
    border-bottom: 2px solid #658258 !important;
    border-top:none !important;
    border-left:none !important;
    border-right:none !important;
    background-color: transparent !important;
    box-shadow: none;
    height: 37px;
    padding-left: 0px;
    font-size: 1.5vw;
} */
.payment .signup-form1 input{

        border-radius: 0px;
        border-bottom: 2px solid #658258 !important;
        border-top:none !important;
        border-left:none !important;
        border-right:none !important;
        background-color: transparent !important;
        box-shadow: none;
        height: auto !important;
        padding-left: 0px;
        /*font-size: 2rem;*/
        font-size: 1.5vw;
    }
    .payment  .signup-form1 .form-control-placeholder {
        position: absolute;
        top: 0;
        padding: 23px 0 0px 0px;
        transition: all 200ms;
        opacity: 0.5;
    }




.signup-form .form-control:focus+.form-control-placeholder,
.signup-form .form-control:valid+.form-control-placeholder {
    /* font-size: 85%;*/
    font-size: 1.1vw;
    transform: translate3d(0, -75%, 0);
    opacity: 1;
    outline: none;
    box-shadow: none;
    color: #1f1f1f;
}

.signup-form .form-control:focus {
    outline: none;
    outline-style: none;
    box-shadow: none;
}

.signup-form {
    padding: 3vh 30px !important;
}
.signup-form1 {
    padding: 3vh 20px;
}
.ml-8{
    margin-left: 8px !important;
}

.common-signup-button {
    font-size: 1.6rem;
    font-family: Helvetica;
    text-decoration: none !important;
    color: #fff;
    padding: 10px 18px;
    border-color: #658258;
}

.signup-button {
    background-color: #658258;
    border-radius: 10px;
}

.signup-button:hover {
    color: #fff;
}

.signin-button:hover {
    color: #746c6c;
}

.signin-button {
    background-color: #292626;
    color: #746c6c;
}

.signup-line-throuh-text {
    margin-bottom: 1vw;
}

.fancy {
    line-height: 0.5;
    text-align: center;
}

.fancy span {
    display: inline-block;
    position: relative;

    font-weight: bold;
}

.fancy span:before,
.fancy span:after {
    content: "";
    position: absolute;
    height: 5px;
    border-top: 2px solid #979797;
    top: 0;
    width: 100%;
    margin-top: 0.3rem;
}

.fancy span:before {
    right: 100%;
    margin-right: 15px;
}

.fancy span:after {
    left: 100%;
    margin-left: 15px;
}

/*place holder top while typing ends*/
.left-side-content-container {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
}

.signup-left-main {
    height: 100%;
    position: absolute;
    /*background-image: url('../images/background-image.png');
  background-size: 100% 100%;*/
}

.custom-header {
    border-bottom: none;
}

.custom-modal-content {
    background-color: rgba(255, 255, 255, 1);
}

.signup-signin-button {
    display: inline-block;
    background-color: #292626;
    border-radius: 10px;
    border-bottom: 0px;
    font-weight: 600;
}

.signup-signin-button .active {
    margin-bottom: 0px;
}

#signup-signin-model .signup-signin-button a {
    color: #746c6c;
    padding: 8px 20px;
}

#signup-signin-model .signup-signin-button .active a {
    background-color: #658258;
    border-radius: 10px;
    color: #fff;
    border-color: #658258;
    margin-right: 0px;
    padding: 8px 20px;
}

.signup-signin-button li a:hover {
    background-color: transparent;
    border-color: transparent;
    color: unset;
}

.signup-left-image {
    height: 100%;
    width: 100%;
}

.left-image {
    width: 100%;
    height: auto;
    max-height: 100%;
    /* height: 715px;*/
}

.terms-conditions-text {

    padding: 0px 20px;
}

.form-submit-main .submit-button {
    background-color: #658258 !important;
    color: #fff !important;
    border-radius: 10px !important;
    padding: 1vh 3vw !important;
    font-size: 1.8vw !important;
    height: auto !important;
}

.rightside-form {
    min-height: 500px;
}
#inputId:-webkit-autofill {
    background-color: white !important;
}
input:not(:placeholder-shown) + label,
input:focus + label {
  transform: translate(0, 0) scale(1);
  cursor: pointer;
}

.social-media {
    width: 30px;
    display: inline-block;

}

.left-content-main {
    position: absolute;
    top: 0;
    left: 0px;
    bottom: 0px;
    right: 0px;
}

.left-content-image {
    width: 120px;
    margin: 0 auto;
    margin-top: 170px;
}

.password-image,
.confirm-password-image {
    position: absolute;
    right: 20px;
    top: 36px;
    cursor: pointer;
}

.password-box {
    padding-right: 40px;
}

.error-msg {
    color: $warning-color;

    /* display: none; */
}
.edit-input-holder .error-msg {
    color: $warning-color;
}
.form-error-msg1 {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: -5px;
}

.display-block {
    display: block;
}

.form-block {
    display: block;
}

/***** signup page ends ***/

/*forgot password */
.common-card-head-title {
    color: #000000;
    /* text-shadow: 0px 0px 0px #000, 0px 0px 2px #000; */
    font-size: 2vw;
    /*margin-top: 70px;*/
    margin-top: 10vh;
    background-clip: content-box;
    filter: drop-shadow(0 5px 10px rgba(0, 0, 0, 0.15));
    -webkit-filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.5));
}

.active a {
    color: #4f7942;
    font-family: OpenSans-SemiBold;
}

.forgot-pwd-card-main {
    border: 1px solid #000;
}

.forgot-pwd-back-button {
    margin: 25px;
    cursor: pointer;
    width: 15px;
}

/*fogot password ends*/

/*sign in*/

.goDysh-register-box {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding-top: 120px;
    padding-bottom: 60px;
}
.goDysh-login-text {
    padding: 60px 100px;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.1);
    border-radius: 0 4px 4px 0;
    background-color: #ffffff;
}
.goDysh-login-text-sub-top{
    h1 {
        font-family: $new-font-medium;
        font-size: 36px;
        color: $fadedblack;
        font-weight: 500;
        margin: 0 !important;
        span {
            font-family: $new-font-semibold;
            color: $secondary-color;
            font-weight: 600;
        }
    }
    p{
        font-family: $new-font-regular;
        font-size: 26px;
        color: $fadedblack;
        font-weight: 400;
    }
}
.goDysh-login-text-sub-bottom{
    margin-bottom: 40px;
    margin-top: 40px;
    p {
        color: #756969;
        font-family: $new-font-regular;
        font-size: 22px;
        font-weight: 500;
    }
    small {
        color: #756969;
        font-family: $new-font-light;
        font-size: 18px;
        font-weight: 300;
    }
}
.signin-login-btn {
    box-shadow: 0 2px 14px -5px rgba(0, 0, 0, 0.21);
    border-radius: 4px;
    border: 1px solid #fbfbfb;
    background-color: #54cf50;
    width: 100%;
    font-size: 18px;
    font-family: $new-font-regular;
    transition: 0.4s all ease;
    border: none;
    height: 47px;
    margin-top: 10px;
    &:hover {
        background-color: #41ad3e;
        transition: 0.4s all ease;
        border: none;
    }
    &:focus {
        background-color: #41ad3e;
        transition: 0.4s all ease;
        border: none;
    }
}
.forget-link {
    margin-top: 15px;
    text-align: right;
    cursor: pointer;
    a {
        display: inline-block;
        text-align: right;
        color: $fadedblack;
        font-family: $new-font-regular;
        font-size: 18px;
        font-weight: 400;
        cursor: pointer;
    }
}
.goDysh-social-options {
    font-family: $new-font-light;
}
.goDysh-social-icon  {
    display: inline-block;
    margin: 10px;
}
.goDysh-social-icon img {
    width: 60px;
    height: auto;
    display: block;
}
.goDysh-register-link-create {
    margin-top: 20px;
    p {
        color: $fadedblack;
        font-family: $new-font-regular;
        font-size: 18px;
        font-weight: 400;
        a {
            font-weight: 600;
            text-decoration: underline;
            font-family: $new-font-semibold;
            color: $fadedblack;
        }
    }
}
.goDysh-social-links{
    margin: 20px 0;
}
.social-line {
    text-align: center;
    position: relative;
  }
  .social-line .line {
    border-bottom: 1px solid #e4e4e4;
    position: absolute;
    width: 70%;
    top: 18px;
    margin: 0 auto;
    display: inline;
    left: 15%;
    right: 15%;
  }
  .social-line .textbox {
    position: absolute;
    width: 100%;
  }
  .social-line .textbox .text {
    background-color: white;
    margin: 0px auto;
    padding: 0px 20px;
    text-align: center;
    display: inline;
    font-size: 24px;
  }
  .social-container {
      margin-top: 70px;
  }
  .goDysh-register-link {
      margin-top: 25px;
      p {
          font-size: 18px;
          font-weight: 400;
          font-family: $new-font-regular;
          color: $fadedblack;
      }
  }

//   .common-form {
//       .input-text {
//         height: 47px;
//         box-shadow: 0 2px 14px -5px rgba(0, 0, 0, 0.21);
//         border-radius: 4px;
//         border: 1px solid #fbfbfb;
//         background-color: #ffffff;
//         background-image: url('images/comment-author.gif') no-repeat scroll 7px 7px;
//         padding-left:30px;
//       }
//   }
  @-webkit-keyframes autofill {
    to {
        color: #666;
        background: transparent;
    }
}

input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}
.form-input-holder {
    background-repeat: no-repeat !important;
    background-size: auto !important;
    background-position: left 13px center !important;
    position: relative;
    margin-bottom: 25px;
}
.common-form {
    position: relative;
    .form-input-holder{
        .input-text {
        height: 47px;
        box-shadow: 0 2px 14px -5px rgba(0, 0, 0, 0.21);
        border-radius: 4px;
        border: 1px solid #fbfbfb;
        background: rgba(0,0,0,0);
        padding-left:60px;
        -webkit-appearance: none;
       -moz-appearance: none;
        }
        &:before {
            position: absolute;
            content: '';
            left: 45px;
            height: 47px;
            width: 1px;
            background-color: #f7f7f7;
        }
    }    
    form {
        width: 70%;
        margin: 0 auto;
    }
}
//classes for signin header 
.plain-header{
    padding: 10px 0;
    box-shadow: 0 0 8px rgba(207, 207, 207, 0.5);
    background-color: #ffffff;
}
.login-header-logo{
    width: 51px;
    height: 59px;
}
//classes for signup
.confirmation-link{
    margin-top: 15px;
    text-align: center;
    color: #333;
    font-family: $new-font-regular;
    font-size: 14px;
    font-weight: 400;
    padding: 0 23px;
}
// .active-signup-btn:hover{
//     background-color: #658258;
//     color: #ffffff !important;
//     border: 1px solid #979797;
//     padding: 2px 15px;
//     border-radius: 10px;
//     .sign-url{
//         color: #658258
//     }
//     .sign-url:hover{
//         color: white;
//     }
// }
.sign-url {
    background-color: #fff;
    color: #658258 !important;
    border: 1px solid #fff;
    padding: 2px 15px;
    border-radius: 10px;
    display: inline-block;
}
.sign-url:hover, .sign-url:focus{
    background-color: #658258;
    color: #ffffff !important;
    border: 1px solid #658258;
    padding: 2px 15px;
    border-radius: 10px;
}
.mtop-15 {
    margin-top: 15px !important;
}
.mleft-10 {
   margin-left: 10px; 
}

// classes for forget password
.goDysh-heading-text-sub-bottom{
    margin-bottom: 40px;
    margin-top: 40px;
    small {
        color: #756969;
        font-family: $new-font-regular;
        font-size: 22px;
        font-weight: 300;
    }
}

/*edit profile*/

.edit-input-holder {
    &::before {
        display: none;
    }
    .edit-input {
        position: relative;
        background-repeat: no-repeat !important;
        background-size: auto !important;
        background-position: left 13px center !important;
        &:before {
            position: absolute;
            content: '';
            left: 45px;
            height: 47px;
            width: 1px;
            background-color: #f7f7f7;
        }
    }
    label {
        font-family: $new-font-regular;
        font-size: 16px;
        font-weight: 400;
        display: block;
        text-align: left;
    }
}
//custom checkbox starts

.edit-checkbox {
    margin: 30px 0;
}
.styled-checkbox {
    position: absolute; // take it out of document flow
    opacity: 0; // hide it
  
    & + label {
      position: relative;
      cursor: pointer;
      padding: 0;
      color: #756969;
      font-family: $new-font-light;
      font-size: 18px;
      font-weight: 300;
    }
  
    // Box.
    & + label:before {
      content: '';
      margin-right: 10px;
      display: inline-block;
      vertical-align: text-top;
      width: 20px;
      height: 20px;
      background: transparent;
      border-radius: 5px;
      border: 1px solid #d0d0d0;
    }
  
    // Box hover
    &:hover + label:before {
      background: #d0d0d0;
    }
    
    // Box focus
    &:focus + label:before {
      
    }
  
    // Box checked
    &:checked + label:before {
      background: #d0d0d0;
    }
    
    // Disabled state label.
    &:disabled + label {
      color: #b8b8b8;
      cursor: auto;
    }
  
    // Disabled box.
    &:disabled + label:before {
      box-shadow: none;
      background: #ddd;
    }
  
    // Checkmark. Could be replaced with an image
    &:checked + label:after {
      content: '';
      position: absolute;
      left: 5px;
      top: 9px;
      background: white;
      width: 2px;
      height: 2px;
      box-shadow: 
        2px 0 0 white,
        4px 0 0 white,
        4px -2px 0 white,
        4px -4px 0 white,
        4px -6px 0 white,
        4px -8px 0 white;
      transform: rotate(45deg);
    }
  }

//custom checkbox ends

.edit-profile-img{
    margin: 30px 0;
    padding: 20px 0;
}
.profile-pic-img{
    border-radius: 50%;
    border: 1px solid #fff;
    width: 128px;
    height: 128px;
    position: relative;
}

/*card management*/

.card-left {
    text-align: left;
}
.card-right {
    text-align: right;
    padding-bottom: 0;
    vertical-align: middle;
}
.card-link {
    cursor: pointer;
    margin-left: 10px;
}
.card-number {
    color: #767676;
    font-family: $new-font-light;
    font-size: 23px;
    font-weight: 400;
    margin-left: 10px;
}
.card-cont {
    margin-top: 10px;
    display: table;
    width: 100%;
}
.card-new-btn {
    margin: 20px 0;
}
.credit-card-holder {
    width: auto;
    display: block;
    align-items: center;
    justify-content: space-between;
    &::before {
        display: none;
    }
}
.credit-card-holder input {
    width: 100%;
}
.card-input-holder {
    &::before {
        display: none;
    }
    label {
        display: block;
        text-align: left;
        color: #767676;
        font-family: $new-font-light;
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 8px;
    }
    .input-text {
        padding: 6px 12px;
        padding-left: 12px !important;
    }
}
.card-css-expiry {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.credit-card-holder {
    select {
        height: 47px;
        box-shadow: 0 2px 14px -5px rgba(0,0,0,0.21);
        border-radius: 4px;
        border: 1px solid #fbfbfb;
        background: transparent;
        background-image: url(../images/icons/pull-down/select-dropdown-icon.png) !important;
        background-repeat: no-repeat;
        padding: 6px 12px;
        padding-left: 12px !important;
        background-position: center right 9px;
        width: 100px;
        margin-right: 20px;
        &:focus {
            outline: none;
        }
    }
}
.card-number-box {
    .input-text {
        width: 100%;
    }
}
.cvv-right {
    .credit-card-holder {
        .input-text {
            width: 100px;
        }
    }
}
.card-step-next {
    padding-top: 10px;
    hr {
        border-color: #eeeeee;
        margin: 0;
        margin-bottom: 10px;
    }
    h4 {
        color: #454545;
        font-family: $new-font-medium;
        font-size: 18px;
        font-weight: 500;
        text-align: left;
    }
}

  .card-number-box .input-text::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    text-align: left;
  }
  .card-number-box .input-text::-moz-placeholder { /* Firefox 19+ */
    text-align: left;
  }
  .card-number-box .input-text:-ms-input-placeholder { /* IE 10+ */
    text-align: left;
  }
  .card-number-box .input-text:-moz-placeholder { /* Firefox 18- */
    text-align: left;
  }
    .card-number-box .input-text {
        text-align: left;
    }
    .card-number-cvv .input-text {
        text-align: center;
    }
  .card-number-cvv .input-text::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    text-align: center;
  }
  .card-number-cvv .input-text::-moz-placeholder { /* Firefox 19+ */
    text-align: center;
  }
  .card-number-cvv .input-text:-ms-input-placeholder { /* IE 10+ */
    text-align: center;
  }
  .card-number-cvv .input-text:-moz-placeholder { /* Firefox 18- */
    text-align: center;
  }
    .common-form .error-msg {
        color: #ce4033;
        text-align: left;
        display: block;
        font-size: 13px;
        font-family: $new-font-light;
        position: absolute;
        bottom: -22px;
        margin-bottom: 0;
    }
    .card-left img {
        width: 45px;
        display: inline-block;
    }
    .modal.in .payment-modal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .modal.in .payment-modal .delete-card-warning-msg {
        font-size: 15px;
        font-family: $new-font-light;
        padding-left: 30px;
        vertical-align: middle;
        background-position: left center;
        background-size: 30px;
    }
    .payment-modal .popup-cancel-btn {
        font-size: 12px !important;
        border-radius: 4px;
        background-color: #f7f7f7;   
        color: #333333;
        font-family: $new-font-light;
        &:hover {
            color: #333333;
        }
    }
    .payment-modal .popup-delete-btn {
        font-size: 12px !important;
        border-radius: 4px;
        background-color: #54cf50;
        color: #fff;
        font-family: $new-font-light;
    }
    .payment-modal .modal-content {
        box-shadow: 0 0 14px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
         border: 1px solid #dad9d9;
        background-color: #ffffff;
    }
    .payment-modal .modal-content .delete-modal-body {
        border: none;
    }
    .status-holder {
        margin-top: 10px;
        display: table;
     }
     .status-holder .error-msg {
        font-size: 16px;
        font-family: $new-font-regular;
        text-align: left;
     }
     .status-holder .success-msg {
        color: #4a9a48;
        font-size: 16px;
        font-family: $new-font-regular;
        text-align: left;
     }
     .status-holder .success-msg .fa, .status-holder .error-msg .fa {
        font-size: 20px;
        margin-right: 5px;
        vertical-align: middle;
     }
   

 




/*responsive*/

@media only screen and (max-width: 1200px){
    
}

@media only screen and (max-width: 991px){
    
}

@media only screen and (max-width: 767px){
    .goDysh-login-text {
        padding: 60px 10px;
    }
    .goDysh-social-icon img {
        width: 45px;
    }
    .modal.in .payment-modal {
        width: 90% !important;
        margin: 0 auto !important;
    }
    .goDysh-register-box {
        width: 95%;
    }
    .goDysh-register-box__login{
        padding-top: 20px;
    }
    .goDysh-login-text {
        padding: 30px 0;
        box-shadow: none;
        -webkit-box-shadow: none;
    }
}

@media only screen and (max-width: 639px){
    .goDysh-login-text-sub-top h1 {
        font-size: 25px;
    }
    .goDysh-login-text-sub-top p {
        font-size: 20px;
    }
    .goDysh-login-text-sub-bottom {
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .common-form form {
        width: 90%;
    }
    .goDysh-login-text-sub-bottom p {
        font-size: 19px;
    }
    .goDysh-login-text {
        padding: 30px 10px;
    }
    .card-number {
        font-size: 18px;
    }
}

@media only screen and (max-width: 480px){
    .card-number {
        font-size: 16px;
    }
    .credit-card-holder input{
        width: 80%;
    }
}