.w-100 {
    width: 100% !important;
}
.terms_holder {
    padding: 100px 0;
    text-align: left;
}
.terms_holder{
    p {
        font-size: 16px;
        font-family: $new-font-regular;
        color: $base-color;
        strong {
            font-family: $new-font-medium; 
            font-weight: 700;
        }
        a {
            color: $fadedblack;
            &:hover {
                color: $base-color;
            }
            &:focus {
                color: $base-color;
            }
        }
    }
    h1 {
        font-family: $new-font-semibold;
    }
    h2 {
        font-family: $new-font-medium;
    }
}

