@media (max-width:767px){
   .mobile__home{
        height: 100vh;
        background: url(../images/splash-mobile.png);
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #f1f1f2;

        .home-header-mobile{
            margin-top: 0!important;
            padding-top: 10px;
        }
   }
   .home-mobile__m {
        .search-inner.search-inner__m {
            max-width: 100%;
            margin-top: 20px;
            border-radius: 7px;
            background-color: #fff;
            padding: 5px 20px 15px;
            box-shadow: 0 26px 101px rgba(0,0,0,0.19);
        }
        .search-box-wrap-m {
            border: none!important;
        }
        .search-field{
            top: 0;
        }
        .search-field .form-inline .form-group{
            width: 100%!important;
        }
        .order-input-title{
            margin-top: 40px;
        }
        .home-search-icon_m{
            top: 23px!important;
            left: 0px!important;
        }
        .search-btn{
            font-family: "barlow_semi_condensedregular";
            font-size: 16px;
            background-color: #3E642D;
        }
        .search-btn-expand{
            background-color: #50783F;
        }
        .search-btn-width-m{
            max-width: 180px!important;
        }
    }

     // Centering content
     .center-align-content{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}