.ticket-form {
    font-family: $new-font-regular;
}
.ticket-input {
    padding-left: 20px !important;
}
.ticket-form textarea {
    height: 150px !important;
    resize: none;
}

.ticket-form .ticket-form-input-holder:before {
    display: none;
}
.ticket-form select{
    background-image: url(../images/icons/arrow/panel-toggle-icon-down.png) !important;
    background-repeat: no-repeat !important;
    background-size: 17px !important;
    background-position: right 13px center !important;
}
.ticket-top-icon {
    padding: 15px;
    border: 2px solid #333;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin: 0 auto;
    margin-bottom: 15px;
}
.ticket-top-icon img {
    display: inline-block;
    height: auto;
    max-width: 100%;
}
.ticket-top-text {
    color: $fadedblack !important;
    font-family: $main-font !important;
    font-size: 20px !important;
    font-weight: 500;
}
.ticket-common-form {
    width: 100% !important;
}
.create-ticket-holder {
    padding: 60px 0px;
}
.create-ticket-holder-inner {
    padding: 60px 200px;
}
.view-ticket-holder {
    padding: 60px 0px;
}
.ticket-main {
    padding-top: 120px !important;
}


/* List of tickets */

.view-ticket-holder-inner {
    padding: 60px 200px;
}
.ticket-listing {
    width: 100%;
    display: flex;
    align-items: flex-start;
    font-size: 15px;
    &-left {
        width: 100px;
        text-align: left;
    }
    &-right {
        width: 100%;
        text-align: left;
        opacity: 0.6;
    }
}
.ticket-listing-details {
    text-align: left;
    opacity: 0.6;
}
.ticket-view {
    cursor: pointer;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.2);
    border-radius: 6px;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 15px;
    font-size: 15px;
}

/*ticket detail*/

.ticket-detail-header {
    font-size: 20px;
    text-align: left;
    margin-bottom: 25px;
}
.ticket-detail-top {
    margin-bottom: 15px;
}
.ticket-detail-bottom {
    text-align: left;
}
.comment-holder {
    font-size: 15px;
    p {
        margin-bottom: 2px;
    }
    .comment-title {
        opacity: 0.6;
    }
    &-inner {
        padding-bottom: 20px;
        padding-top: 20px;
        border-top: 1px solid #ececec;
        &:first-child {
            padding-top: 0;
            border-top: none;
        }
    }
}
.ticket-textarea {
    margin-bottom: 30px;
}
.ticket-mod-error {
    bottom: -24px !important;
}
.ticket-bottom {
    margin-bottom: 60px;
}

  .ticket-form .input-text::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 15px;
  }
  .ticket-form .input-text::-moz-placeholder { /* Firefox 19+ */
    font-size: 15px;
  }
  .ticket-form .input-text:-ms-input-placeholder { /* IE 10+ */
    font-size: 15px;
  }
  .ticket-form .input-text:-moz-placeholder { /* Firefox 18- */
    font-size: 15px;
  }

/*ticket add*/

.ticket-add-btn {
    display: inline-block;
    margin-bottom: 25px;
    background-color: #4f7942;
    color: #fff;
    padding: 10px 20px;
    border-radius: 30px;
    font-family: $new-font-medium;
    transition: 0.2s all ease;
    -moz-transition: 0.2s all ease;
}
.ticket-add-btn:hover, .ticket-add-btn:focus {
    color: #fff;
    background-color: #426238;
    transition: 0.2s all ease;
    -moz-transition: 0.2s all ease;
}
.ticket-add-btn .fa {
    margin-right: 7px;
    font-size: 15px;
}


/*support*/

.submit-ticket .v--modal-box {
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    overflow: inherit !important;
}
.submit-ticket .support-modal {
    padding: 30px;
}
.support-modal .main_wrapper {
    width: 100%;
}
.submit-ticket .support-modal .main_wrapper .topic_wrapp{
    justify-content: center;
    padding-top: 25px !important;
    flex-direction: row;
}
.submit-ticket .support-modal .main_wrapper .topic_title h1 {
    font-size: 30px;
}
.submit-ticket .support-modal .main_wrapper .topic_title i img {
    width: 70px;
}
.submit-ticket .support-modal .main_wrapper .topic_wrapp .in_cont{
    width: 45% !important;
    text-align: center;
}
.submit-ticket .support-modal .main_wrapper .topic_wrapp .in_cont .avatar-main {
    padding: 20px 10px !important;
}
.submit-ticket .support-modal .main_wrapper .topic_wrapp .in_cont .avatar-main .core_wrap {
    padding: 0 10px !important;
    justify-content: center !important;
}
.submit-ticket .support-modal .main_wrapper .topic_wrapp .in_cont .avatar-main .core_wrap span{
    font-size: 18px !important;
    padding-right: 10px !important;
}
.support-modal-close {
    position: absolute;
    top: -35px;
    height: 30px;
    display: inline-block;
    right: 0;
    img {
        max-width: 100%;
        width: auto;
        height: auto;
    }
}
.support-submit-holder {
    margin-top: 50px;
}
.support-submit-holder .dropdown-menu {
    position: relative;
    height: 100px;
    overflow-y: auto;
    width: 100% !important;
    left: 0 !important;
}
.support-submit-holder .dropdown-toggle {
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    background: transparent;
}
.support-submit-holder .dropdown.open {
    transition: 0.8s all ease;
}
.support-submit-btn {
    width: 100%;
    display: inline-block;
    margin-top: 20px;
    height: 50px !important;
    line-height: 48px !important;
}
.support-submit-btn:hover, .support-submit-btn:focus {
    color: #fff !important;
    background-color: #45af41 !important;
}







/*responsive*/

@media only screen and (max-width: 1200px){
    .view-ticket-holder-inner {
        padding: 60px 80px;
    }
    .create-ticket-holder-inner {
        padding: 60px 80px;
    }
    .create-ticket-holder, .view-ticket-holder {
        padding: 60px 20px;
    }
}

@media only screen and (max-width: 991px){
    .view-ticket-holder-inner {
        padding: 10px 50px 30px 50px;
    }
    .create-ticket-holder-inner {
        padding: 10px 50px 30px 50px;
    }
}

@media only screen and (max-width: 767px){
    .create-ticket-holder, .view-ticket-holder {
        padding: 60px 20px;
    }
    .ticket-main {
        padding-top: 10px !important;
    }

    /*support*/

    .submit-ticket .v--modal-box {
        margin: 0 auto;
        width: 95% !important;
    }

}

@media only screen and (max-width: 639px){
    .view-ticket-holder-inner {
        padding: 10px 30px 30px 30px;
    }
    .create-ticket-holder-inner {
        padding: 10px 30px 30px 30px;
    }
    .create-ticket-holder, .view-ticket-holder {
        padding: 0;
    }
    .ticket-main {
        padding-top: 80px !important;
    }
    .ticket-bottom {
        margin-bottom: 40px;
    }

    /*support*/

    .submit-ticket .support-modal .main_wrapper .topic_wrapp {
        flex-direction: column;
        padding: 0 30px;
    }
    .submit-ticket .support-modal .main_wrapper .topic_wrapp .in_cont {
        width: 100% !important;
        margin-top: 20px;
        margin-bottom: 0 !important;
        margin-left: 0;
        margin-right: 0;
    }
    .submit-ticket .support-modal {
        padding: 30px 10px;
    }
}

@media only screen and (max-width: 480px){

    .view-ticket-holder-inner {
        padding: 10px 10px;
    }
    .create-ticket-holder-inner {
        padding: 10px 10px;
    }
    .ticket-main {
        padding-top: 80px !important;
    }
    .ticket-bottom {
        margin-bottom: 40px;
    }

    /*support*/

    .submit-ticket .support-modal .main_wrapper .topic_wrapp {
        padding: 0;
    }
}
.close-tck{
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
}