/*track*/

.track-holder {
    h3{
        color: #4a4848;
        font-family: $new-font-regular;
        font-size: 30px;
        font-weight: 500;
    }
    .track-progress {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        &-left {
            position: relative;
            width: 30%;
            padding-top: 20px;
            p {
                color: #000;
                font-family: $new-font-regular;
                font-size: 20px;
                font-weight: 500;
                margin-bottom: 5px;
            }
            span {
                color: #7f7f7f;
                font-family: $new-font-light;
                font-size: 18px;
                font-weight: 400;
                b {
                    color: #7f7f7f;
                    font-family: $new-font-light;
                    font-size: 18px;
                    font-weight: 400;
                }
            }
            &::after {
                position: absolute;
                right: -30px;
                top: 0;
                content: '';
                background-image: url('../images/order-track-seperator.png');
                background-size: cover;
                width: 10px;
                height: 120px;
            }
        }
        &-right {
            width: 70%;
        }
    }
}


.checkout-wrap {
  color: #444;
  margin: 0 auto;
  position: relative;
  width: 100%;
}
.multi-steps > li.is-active:before, .multi-steps > li.is-active ~ li:before {
  // content: counter(stepNum);
  font-family: inherit;
  font-weight: 700;
}
.multi-steps > li.is-active:after, .multi-steps > li.is-active ~ li:after {
  background-color: #fff;
  border-color: #ededed;
}

.multi-steps {
  display: table;
  table-layout: fixed;
  width: 100%;
}
.multi-steps > li {
  // counter-increment: stepNum;
  text-align: center;
  display: table-cell;
  position: relative;
  color: tomato;
}
.multi-steps > li > img {
    display: inline-block;
    width: 40px;
    height: 40px;
    object-fit: contain;
}
.multi-steps > li > span {
    display: block;
    color: #413f3f;
    font-size: 16px;
    font-family: $new-font-regular;
    font-weight: 700;
    margin-top: 6px;
}
.multi-steps > li:before {
  content: '';
  display: block;
  margin: 0 auto 4px;
  background-color: #fff;
  width: 20px;
  height: 20px;
  box-shadow: 0 3px 8px rgba(17, 16, 16, 0.1);
  line-height: 32px;
  text-align: center;
  font-weight: bold;
  border-width: 3px;
  border-style: solid;
  border-color: #54cf50;
  border-radius: 50%;
  position: relative;
  top: 104px;
}
.multi-steps > li:after {
    content: '';
    height: 4px;
    width: 100%;
    background-color: #54cf50;
    border: 1px solid #54cf50;
    position: absolute;
    top: 112px;
    left: 50%;
    z-index: -1;
}
.multi-steps > li:last-child:after {
  display: none;
}
.multi-steps > li.is-active:before {
  background-color: #fff;
  border-color: #54cf50;
}
.multi-steps > li.is-active ~ li {
  color: #808080;
}
.multi-steps > li.is-active ~ li:before {
  background-color: #ffffff;
  border-color: #ededed;
}

.tracking-base {
    background-color: #fdfdfd;
    position: relative;
    z-index: 1;
    padding-bottom: 70px;
}
.track-order-first {
    padding-top: 100px;
}
.track-details {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px;
    background-color: #fff;
    margin-top: 80px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.07);
    &-inner {
        position: relative;
        &::after {
            position: absolute;
            right: 0;
            top: -13px;
            content: '';
            background-image: url('../images/track-details-seperator.png');
            background-size: auto;
            width: 2px;
            opacity: 0.6;
            height: 88px;
        }
        &:last-child {
            &::after {
                display: none;
            }
        }
        &::after {
            position: absolute;
        }
        &-content {
            position: relative;
            p {
                font-family: $new-font-regular;
                font-size: 20px;
                font-weight: 500;
                margin-bottom: 5px;
            }
            span {
                color: #767676;
                font-family: $new-font-light;
                font-size: 17px;
                font-weight: 400;
            }
            a {
                display: inline-block;
                font-family: $new-font-regular;
                color: #139a13;
                font-size: 17px;
                font-weight: 400;
                text-decoration: underline;
                &:hover {
                    color: #149214;
                }
                &:focus {
                    color: #149214;
                }
            }
        }
    }
}
.track-details-left, .track-details-right {
    width: 37%;
    padding-left: 30px;
}
.track-details-middle {
    width: 25%;
    padding-left: 30px;
}

.track-map-holder {
    .track-map {
        width: 100%;
        max-height: 500px;
        display: block;
    }
}
.track-offer {
    background-color: #333333;
    border-radius: 4px 4px 0 0;
    border: 1px solid #979797;
    min-height: 90px;
    line-height: 90px;
    text-align: center;
    p {
        display: inline-block;
        color: #fff;
        margin-bottom: 0;
        font-family: $new-font-light;
        font-size: 18px;
        font-weight: 100;
    }
    img {
        display: inline-block;
        width: 30px;
        height: auto;
        margin-right: 20px;
    }
}



.topic_container {
    position: fixed;
    top: 73px;
    right: 0;
    width: 400px;
    height: 100%;
    z-index: 9999;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    background: white;
}

.topic_ico {
    display: inline-block;
    overflow: hidden;
    width: 12px;
    cursor: pointer;
}

.topic_ico img {
    width: 100%;
    height: auto;
}

.idmos {
    box-shadow: none !important;

    li {
        margin-left: 8px !important;
    }
}

.ordma {
    padding: 0 30px;
}

.meov_m {
    font-family: "barlow_semi_condensedmedium";
}

.in_tdic {
    color: #767676;
    font-family: "barlow_semi_condensedlight";
    font-weight: 400;

    p {
        font-size: 17px;
        margin-bottom: 0;
    }
}

.tdi {
    bottom: 36px;
}
.tdic p {
    margin-bottom: 29px;
}

.gd-item-details{
    cursor: pointer;
}

/*responsive*/

@media only screen and (max-width: 1200px){
    
}

@media only screen and (max-width: 991px){
    
}

@media only screen and (max-width: 767px){
    .track-holder .track-progress {
        display: block;
    }
    .track-holder .track-progress-left {
        width: 100%;
    }
    .track-holder .track-progress-right {
        width: 100%;
    }
    .track-holder .track-progress-left::after {
        display: none;
    }
    .multi-steps {
        overflow: auto !important;
    }
    .multi-steps>li>span {
        font-size: 12px;
    } 
    .track-holder .track-progress-left {
        padding-top: 10px;
    }
    .track-details {
        margin-top: 60px;
        flex-direction: column;
        padding: 0 20px;
    }
    .track-details-left {
        border-bottom: 1px dashed #dedede;
    }
    .track-details-left, .track-details-right {
        padding-left: 0;
        width: 100%;
        padding: 20px 0;
    }
    .track-details-middle {
        padding-left: 0;
        width: 100%;
        border-bottom: 1px dashed #dedede;
        padding: 20px 0;
    }
    .track-details-inner::after {
        display: none;
    }
    .track-offer {
        padding: 15px;
        line-height: normal;
        display: flex;
        text-align: left;
        align-items: center;
    }
    .track-offer img {
        width: 30px;
        height: 30px;
    }
    .track-order-first {
        padding-top: 70px;
    }
}

@media only screen and (max-width: 639px){
    .multi-steps>li>span {
        font-size: 14px;
    } 
}

@media only screen and (max-width: 480px){
    .multi-steps>li>span {
        font-size: 12px;
    }
}



// Responsive

/*Larger_Desktops_FHD_QHD_UHD*/

@media (min-width: 1921px) {
}



/*Macbbok_And_20_inch_Monitor_or_Device_With_1600px_Width*/

@media all and (min-width: 1367px) and (max-width: 1600px) {

}



/*Large_Tablet(iPad_Pro)_landscape_And_Windows_Laptop*/

@media all and (min-width: 1201px) and (max-width: 1366px) { 
}
	

@media all and (min-width: 1201px) and (max-width: 1366px) and (min-height: 880px) {

}



/*Tablets_Landscape*/

@media all and (max-width: 1200px) {
     
    .track-holder .track-progress-left::after {
        right: -10px;
    }
    
}



/*Large_Tablets_Potrait(Ipad_Pro)*/

@media all and (min-width: 1024px) and (max-width: 1200px) and (orientation: portrait) {

}



/*Tablets_Potrait_And_Device_With_Lower_Resolution*/

@media all and (max-width: 991px) {
}



/*Small_Tablets_Protrait_Mode*/

@media all and (max-width: 767px) {
}



/*Large_Phone_Potrait*/

@media all and (max-width: 575px ) {

    .topic_container {
        width: 100%;
    }

    .meov_m {
        padding: 0 !important;
    }

    .ortto,
    .ortoto {
        padding: 0 30px !important;
    }
}



/*Samll_Phone_Potrait_And_Landscape------------*/

@media all and (max-width: 410px ) {

    .ordma {
        padding: 0 30px;
    }
}

@media all and (max-width: 410px ) and (max-height: 667px) {
}



/*Small_Phone_Potrait*/

@media all and (max-width: 360px ) {
}



/*iphone_5_SE_And_Smaller_Phone_Potrait_Only*/

@media all and (max-width: 320px ) {
}
