@media screen and (max-width:767px){
    .rating-review-restaurant-card__fe.fixed-sidebar{
        position: relative!important;
    }
}

.rate__succ{
    position: relative;
    border: 1px solid #54cf50;
    color: #333;
    padding: 10px;
    border-radius: 4px;
    display: inline-block;
    font-size: 13px;
    background:none;
    margin-top: 15px;
    img {
        width: 22px;
        margin-right: 5px;
    }
    span {
        position: relative;
        color: #333;
        display: inline-block;
        font-size: 12px;
        cursor: pointer;
    }
}