.hprofile-img{display: none;}

/*restaurant detail view starts*/
.restaurant-detail-view-main {
    background-image: url('../images/goDysh-home-banner.png');
    background-repeat: no-repeat;
    padding: 0px;
    min-height: 22vw;
    margin-top: 30px;
    margin-bottom: 25px;
    background-size: cover; 
    background-position: center;
    overflow: hidden;
    position: relative;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    &:after{
        content: ''; 
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: #00000054;
    }
} 
#seeReviewModalCloseBtn
{
    @include responsive(phone) {
        display: none;
    }
}
.mobile-timming-icon
{
    @include responsive(phone) {
        margin-top: 4px;
    }
    .multiple-timeopen
    {
        @include responsive(phone) {
            font-size: 3vw;
        }
    }
    
}
.favorit-clock-icon
{
    @include responsive(phone) {
        width: 12px;
        top: -1px;
    }
}
.destail-popup-deliveryFee
{
    color: $white;
    font-size: 15px;
    font-family: $new-font-medium;
    border: $white 1px dashed;
    padding: 5px 15px;
    margin-left: 100px;
    @include responsive(tab) {
        padding: 3px 10px;
        margin-left: 40px;
    }
}


.popular-items-box-shadow {
    box-shadow: 0px 0px 11px 5px #f2f2f2;
    z-index: 0;
}

.banner-background-color {
    background-color: rgba(60, 84, 86, 0.9);
    width: 24.7vw;
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    /*box-shadow: 0px 0px 100px 100px rgba(60,84,86,0.6);*/
    box-shadow: 0px 0px 120px 90px rgb(60, 84, 86);
    z-index: 1;
}

.search-type-custom .radio-inline input[type='radio'] {
    background-color: transparent !important;
}
.detail-view-items-list {
    padding: 0 10px;
    /*box-shadow: 0px 0px 15px 12px rgba(255,255,255,0.9);*/
    position: sticky;
    position: -webkit-sticky;
    top: 72px;
    z-index: 14;
    background-color:$white;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.07);
-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.07);
box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.07);
  border-radius: 5px;
  @include responsive(tab) {
        top: 70px;
        background-color: transparent;
        box-shadow: none;
        z-index: 10;
      
    }
}

.popular-items-list {
    margin-bottom: 0px;
    list-style: none;
}
body.modal-open {
    padding-right: 0;
}
.popular-items-list li {
    color: #454545;
    font-family: "OpenSans-Regular";
    text-transform: uppercase;
    font-size: 1.1vw;
}

.popular-items-list .item-active {
    color: #4f7942;
    /*font-family: OpenSans-SemiBold;*/
}

.popular-items-navigation {
    color: $heading-color;
    text-decoration: none !important;
    padding: 5px 15px !important;
    background-color: transparent;
    line-height: 35px;
    font-family: $new-font-regular;
    font-size: $base-font;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px; 
    margin-left: 10px;
    margin-right: 10px;
}
.svg-signin
{
    display: inline-block;
}


// .popular-items-navigation:focus {
//     color: $heading-color;
//     background-color: $secondary-color !important;
//     border-radius: 5px;
// }
.all-day-menu-select {
    position: relative;
    display: flex;
    height: 22px;
    line-height: normal;
    background: #FFFFFF;
    overflow: hidden;

  }
.all-day-menu-select select {
    flex: 1;
    padding: 0 .5em;
    color: #000000;
    cursor: pointer;
  }
  /* Arrow */
  .all-day-menu-select::after {
    content: '\25BC';
    position: absolute;
    color: #4f7942;
    top: 1px;
    right: 1px;
    padding: 0 6px;
    background: #FFFFFF;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
  }
  /* Transition */
  .all-day-menu-select:hover::after {
    color: #4f7942;
  }
.all-day-menu {
    font-size: 16px;
    margin-top: 0;
    // color: #000000;
    // border: #E4E4E4 1px solid !important;
    border: none;
    font-family: $new-font-regular;
    overflow: hidden;
    width: 100%;
    padding: 7px 5px;
    border-radius: 0px;
    text-align: left;
    height: 55px;
    &::after{
        content: "";
        width: 75px;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+50 */
background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */


    }
    @include responsive(tab) {
        background-color: $white;
        padding-left: 15px;
    }
}
.dropdown.menu-sort-drop:focus,
.dropdown.menu-sort-drop:active,
.all-day-menu-select-filter:focus {
    outline: none;
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: none !important;
    outline-offset: -2px;
}
.topCat-list .item {
    flex-basis: auto !important;
    // backface-visibility: hidden;
    // -webkit-backface-visibility: hidden;
}
.modal-dropdown-rest {
    // border: #E4E4E4 1px solid !important;
    border: none !important;
    background: none !important;
    
}
.active .popular-items-navigation:focus {
    color: #4f7942;
}

.popular-items-navigation:hover {
    color: #4f7942;
}
.popular-items-navigation:focus {
    color: $fadedblack;
}

.common-item-list-container {
    width: 100%;
    float: left;
    position: relative;
    padding-top: 20px;
    margin-bottom: -20px;
}

.popular-items-card-main {
    padding: 15px 0px;
    background-color: #ffffff;
}

.mobile-restaurant-add-cart-main {
    position: fixed;
    bottom: 30px;
    right: 30px;
    border-radius: 50%;
    padding: 5px;
    background-color: #4DAE4A; 
    z-index: 2;
    width: 65px;
    height: 65px;
    display: table;
    text-align: center;
    box-shadow: 0px 0px 12px 6px rgba(0, 0, 0, 0.12);
}

.cart-image-center {
    display: table-cell;
    vertical-align: middle;
}

.cart-number-main {
    position: absolute;
    top: 25px;
    left: 0px;
    text-align: center;
    display: table-cell;
    width: 100%;
    font-size: 14px;
    font-family: $new-font-medium;
}

.cart-number-style {
    width: 20px;
    height: 20px;
    display: inline-block;

    color: #fff;
}

.popular-items-title {
    color: $heading-color;
    font-size: 2.5vw;
    margin-bottom: 20px;
   font-family: $new-font-medium;
    margin-top: 5px;
    @include responsive(tab) {
        font-size: $fontheading;
    }
}
.empty-cart-left-container .common-popular-item-width {
    width: 33.33%;
}
.empty-cart-left-container .common-item-list-container
{
    display: flex;
    flex-wrap: wrap;
}
.common-item-list-container:last-child{
    margin-bottom: 195px;
    @include responsive(tab) {
        margin-bottom: 0px;
    }
}
.text-image-protection {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.restaurantdetail-logo-image {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 17vw;
    z-index: 1;
}

.popular-item-heart {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 2vw;
}

.popular-item-heart-hover {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 2vw;
    display: none;
}

.common-popular-item-width:hover .popular-item-heart-hover {
    display: block;
}

// .common-popular-item-width:hover {
//     // margin-top: -3px;
//     // transition: all .3s;
//     transform: scale(1.04);
// }

.common-popular-item-width {
    width: 25%;
    margin-bottom: 20px;
    cursor: pointer;
    padding-left: 9px;
    padding-right: 9px;
    transition: transform .4s;
}

.detail-view-clear-both:nth-child(6n+1) {
    // clear: both;
}

.detail-view-clear-both:last-child .popular-list-card-img {
    position: relative;
    z-index: 1;
}

.detail-view-clear-both:last-child .popular-item-heart {
    z-index: 1;
}

.detail-view-clear-both:last-child .popular-item-details {
    z-index: 1;
}

.popular-items-container {
    /*margin-top: 15px;*/
}

.bottom-fading-color {
    // background-image: linear-gradient(rgb(247, 248, 252), rgb(124, 127, 134));
    // margin-bottom: 0px;
    // box-shadow: 0px 0px 25px 19px rgb(247, 248, 252);
    // position: absolute;
    // bottom: 0px;
    // left: 0px;
    // right: 0px;
    // height: 110px;
    // z-index: 1;
}

.popular-list-card-img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.popular-item-rating-icon {
    width: 20px;
    float: left;
}
.rating-star-icon {
    width: 34px;
    float: left;
}

.popular-item-rating-total {
    font-size:16px;
    float: left;
    padding-top: 0;
    color: $heading-color;
    font-family: $new-font-medium;
    margin-left: 10px;
    span.rating-total-value
    {
        color: #8B8B8B;
    }
}

.popular-item-details {
    // padding: 0.3vw 0.6vw 0.6vw 0.6vw;
    padding: 0px;
}

.common-review-card-shadow {
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
}

.popular-rating-reviews {
    margin-top: 1vw;
    background-color: #FCFCFC;
    padding: 10px 10px;
    -webkit-border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
}

.popular-item-reviews {
    margin-top: 5px; 
    cursor: pointer;
    color: $heading-color;
    font-family: $new-font-regular;
    font-size: 16px;
    border: #9C9C9C 1px dashed;
    border-radius: 5px;
    padding: 5px 10px;
    text-align: center; 
    position: relative;
    span.review-btn-star
    {
        position: absolute;
        top: -7px;
        left: 50%;
        background-color: #FCFCFC;
        padding: 2px 3px;
        transform: translate(-50%, 0px);
    }
    @include responsive(tab) {
        margin-top: 0px; 
    }
} 

.restaurantdetail-title {
    font-size: 20px;
    color: $heading-color;
    line-height: normal;
    margin-top: 10px;
    margin-bottom: 0.5vw;
    white-space: nowrap;
    overflow: hidden;
    max-width: 180px;
    text-overflow: ellipsis;
    position: relative;
    font-family: $new-font-medium;
    margin-left: 10px;
    margin-right: 10px;
}

.mInfoimg-wrap {
    // width: 357px;
    // height: 192px;
}
.mInfoContent-wrap
{
    padding: 15px 15px 15px 15px;
    border-bottom: #F2F1F1 1px solid;
}
.mInfoContent-wrap:first-child
{
    margin-top: 5px;
}
.mInfoContent-wrap:last-child
{
    // margin-bottom: 5px;
}
.mInfoContent-wrap h2{
    font-size: 20px;
    text-align: left;
    margin-bottom: 15px;
    margin-top: 0px;
    color: $heading-color;
    font-family: $new-font-medium;
}
.orderSummaryscrollMob
{
    /* height: 75vh; */
    overflow-y: scroll;
}
.moreIlink {
    font-family: $new-font-medium;
    font-size: 15px;
    color: $secondary-color;
    cursor: pointer;
    text-decoration: underline;
    margin-top: 20px;
    margin-bottom: 0px;
}
.mInfoContent-wrap ul{
    display: inline-block;
    padding: 0;
    width: 100%;
    margin-bottom: 0px;
    list-style-type: none;
}
.mInfoContent-wrap {
    ul{
        li{
            display: inline-block;
            font-size: 13px;
            color: $heading-color;
            font-family: $new-font-regular;
            background-color: $title-gray;
            padding: 5px 20px;
            border-radius: 3px;
            margin-right: 10px;
            &:last-child{
                margin-right: 0px;
            }
        }
    }
}
.mInfoContent-wrap 
{
    ul.wid-100 
    {
        li {
            width:100%;
            background-color: $white;
            padding: 0px;
            font-size: 16px;
            margin-bottom: 5px;
        }
    }
    
}
.mInfoContent-wrap ul li:before {
    // content: "\A";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #658258;
    display: inline-block;
    margin: 0 8px 2px 0;
}


button.moreInfo-modal-close {
    position: absolute;
    right: 10px;
    width: 30px;
    height: 30px;
    opacity: 1;
    border-radius: 50%;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -35px;
}

.no-margin-cusom
{
    margin-left: 0;
    margin-right: 0;
}
.mInfoimg-wrap img{
    width: 100%;
    // height: 192px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.modal-lg.motreInfo-modal-dialog.modal-dialog {
    width: 500px;
    // height: 538px;
    /* float: left; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 5%;

}
.mIC-contentWapper
{
    width: 100%;
    overflow-y: auto;
    // height: 344px;
}
.mIC-contentWapper::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px #ffffff;
	border-radius: 10px;
	background-color: #ffffff;
}

.mIC-contentWapper::-webkit-scrollbar
{
	width: 7px;
	background-color: #ffffff;
}

.mIC-contentWapper::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px #9f9f9f;
	background-color: #9f9f9f;
}
.orderSummaryscrollMob::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px #ffffff;
	border-radius: 10px;
	background-color: #ffffff;
}

.orderSummaryscrollMob::-webkit-scrollbar
{
	width: 7px;
	background-color: #ffffff;
}

.orderSummaryscrollMob::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px #332e2e;
	background-color: #9f9f9f;
}
.restaurantdetail-title::after {
    content: '';
    box-shadow: 0 0 40px 41px rgb(255, 255, 255);
    position: absolute;
    right: 0;
    top: 0;
}

.popular-item-price {
    font-size: 26px;
    color: $light-orange; 
    margin-top:0px;
    font-family: $new-font-medium; 
    @include responsive(smtab) {
        font-size: 16px;
    }
    @include responsive(phone) {
        font-size: 26px;
    }

}

.restaurantdetail-view-title-des {
     font-size: 2.4vw;
     margin-top: 0px;
     margin-bottom: 5px;
     font-family: $new-font-medium;
}

.restarant-detail-content-view {
    margin-left: 0px;
    color: $white;
    font-family: $new-font-medium; 
    font-size: 1.1vw;
}
.rest-det-icons
{
    display: inline-block;
    width: 30px;
    @include responsive(tab) {
        width: 20px;
    }
}

.restaurant-details-block{min-height: 285px;}

/*** Resturant map view dropdown ******/
.google-tag {
    width: 30%;
    text-align: center;
    background-color: grey;
    margin-top: 0px;
    height: 100vh;
    right: 5%;
    position: fixed;
    // position: relative;
    float: right;
    @include responsive(phone) {
        float: none;
    }
}
.bfixed {
    position: absolute;
    top: auto;
    bottom: 20px;
}

.map-toggle-active {
    display: none;
}

.map-width {
    width: 50%;
}

.restaurant-map-container {
    // width: 66.7%;
    width: 69.7%;
}

#map {
    width: 100%;
    height: 100%;
    background-color: grey;
}

/*map and sattelite buttons hidden*/
.gmnoprint {
    top: 0px !important;
    left: 0px;
    bottom: unset !important;
    right: unset !important;
}

.gm-style-mtc {
    display: none;
}

.gm-style-mtc {
    display: none;
}

.gm-svpc {
    display: none;
}

/*fullscreen control disable*/
.gm-fullscreen-control {
    display: none;
}

/*.custom-map{
     position: sticky;
    top:113px;

}*/
/*** Resturant map view dropdown ends******/

/*restaurant detail view rating review modal*/
.custon-back-drop {
    background-color: rgba(125, 125, 125, 0.82);
}

.see-review-modal-dialog {
    width: 90%;
    margin: 4% auto;
}
.review-modal-width
{
    width: 80%;
    margin: 0px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
}
.custom-detail-modal-content {
    width: 100%;
}
.custom-detail-modal-content.moreInfoSecs {
    // width: 357px;
}

.review-rating-container {
    overflow: hidden;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 40%;
    float: left;
    /* position: relative; min-height: 400px; */
}
.review-modal-width
{
    .review-rating-container {
        width: 45%;
        @include responsive(tab) {
            width: 45%;
        }
        @include responsive(phone) {
            width: 100%;
        }
    }
}

.seereview-modal-main-container {
    max-height: 95vh;
    overflow: hidden;
}

.review-content-list-right-main {
    /*max-height: 100vh;
  overflow: hidden;*/
    width: 59%;
    float: left;
    position: absolute;
    left: 40%;
    height: 100%;
    background-color: $white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.review-modal-width
{
    .review-content-list-right-main {
        width: 49%;
        left: 47%;
        top: 2px;
        height: 99%;
        @include responsive(tab) {
            
        }
        @include responsive(phone) {
            width: 100%;
            left: 0px;
            top: 0px;
        }
    }
}

.spacepad
{ 
    padding-left: 5px;
}
.modal-title-font
{
    background-color: $title-gray;
    padding: 10px 20px;
    margin-left: 1px;
    margin-right: 1px;
    color: $heading-color;
    font-family: $new-font-medium;
    margin-bottom: 10px;
    font-size: 21px;
    -webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}
.modal-title-area
{
    margin-top: -15px;
}
.small-modal-body-content
{
    color: $base-color;
    font-size: $base-font;
    font-family: $new-font-regular;
    margin-bottom: 15px;
}
.see-rating-review-detail {
    /* background-color: rgb(69,70,74); */
    min-height: 20vh;
    /* box-shadow: 0px 0px 25px 19px rgb(124, 127, 134); */
    /* background-image: linear-gradient(rgb(69,70,74), rgb(124, 127, 134)); */
    z-index: 1;
    background-color: #fff !important;
}


.rating-review-fill-heart {
    position: absolute;
    bottom: -18px;
    right: 10px;
    width: 38px;
    height: 38px;
    border-radius: 100%;
    cursor: pointer;
    z-index: 1;
    background-color: #ffffff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.07);
    text-align: center;
    line-height: 38px;
    @include responsive(largePhone) {

    }
}
.fav-icon-default
{
    background-color: $white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.07);
}

.rating-popup-fav {
    position: absolute;
    top: -18px;
    right: 10px;
    width: 38px;
    height: 38px;
    border-radius: 100%;
    cursor: pointer;
    z-index: 1;
    background-color: #ffffff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.07);
    text-align: center;
    line-height: 38px;
    @include responsive(tab) {
        right: 15px;
    }
    @include responsive(phone) {
        right: 30px;
    }
}

.restaurant-review-details {
    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    @include responsive(tab) {
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        padding: 20px 35px 0px 35px;
        background-color: $white;
    }
}
.mobile-rating-review-number {
    width: auto !important;
    height: auto !important;
}
.review-rating-icon {
    // width: 25px;
    width: auto;
    display: inline-block;
    margin-top: 2px;
    color: $black;
    @include responsive(phone){
      margin-right: 5px;
      width: auto !important;
    }
}

.closeHours {
    text-align: right;
    width: 100%;
    margin-left: 10px;
    .timeSeparetor
    {
        margin-right: 6px;
    }
}

.review-rating-total {
    font-size: $base-font;
    color: $heading-color;
    font-family: $new-font-medium;
    margin-top: 0px;
    margin-left: 8px;
    @include responsive(phone){

    }
}

.rating-address-details {
    font-size: $base-font !important;
    margin-top: 15px;
    width: 100%;
    float: left;
    color: #454545;
    font-family: $new-font-regular;
}

.review-rating-title {
    font-size: $title-head;
    color: $heading-color;
    font-family: $new-font-medium;
    margin-bottom: 5px;
    margin-top: 0px;
    @include responsive(phone){
      margin-top: 0px;

    }
}

.image-blur {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-image-blur {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.3);
}

.custom-scroll-main {
    /*min-height: 100vh;
  max-height: 100vh;*/
    // margin-top: 55px;
    margin-top: 25px;
    /*height: 80vh !important;*/
    height: auto !important;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    // padding: 0 0 0 60px;
    padding: 0;
    padding-left: 15px;
    padding-right: 15px;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
.custom-scroll-main::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px $white;
	border-radius: 10px;
	background-color: $white;
}

.custom-scroll-main::-webkit-scrollbar
{
	width: 7px;
	background-color: $white;
}

.custom-scroll-main::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px #9f9f9f;
	background-color: #9f9f9f;
}


.custon-scroll-main .mCS-dark-3.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #9f9f9f !important;
}

.see-review-modal-close {
    opacity: 1;
    margin-top: 15px;
    position: absolute;
    right: 8px;
    z-index: 2;
    width: 22px;
}

.see-review-modal-close img {
    width: 100%;
}

.profile-review-title {
    // margin-top: 1vh;
    margin-top: 0;
    margin-bottom: 3px !important;
    font-size: 20px;
    margin-bottom: 0px;
    color: $base-color;
    text-transform: capitalize;
    font-family: $new-font-medium;
}

.review-rating-time {
    color: #9f9f9f;
    font-size: 12px;
    font-family: $new-font-medium;
}

.see-review-rating-list-main li {
    width: 100%;
    float: left;
    margin-bottom: 0px;
    // padding: 15px 25px 15px 25px;
    padding: 25px 0 25px 0;
    border-bottom: #E4E4E4 1px solid;
    margin-bottom: 0px;
    &:first-child {
        padding-top: 0;
        @include responsive(phone){
            padding-top: 25px;
        }
    }
}

.rating-content-main {
    margin-top: 5px;
    // margin-left: 15px;
}

.review-rating-modal-number {
    font-size: 16px;
    font-family: $new-font-medium;
    color: $base-color;
    margin-left: 8px;
}
.review-desc
{
    color: $base-color !important;
    font-family: $new-font-regular;
    font-size: $base-font !important;
    padding-left: 62px !important;
    @include responsive(phone){
        padding-left: 70px;
    }
    @include responsive(mediumbreak){
        padding-left: 66px;
    }
    @include responsive(xsphone){
        padding-left: 62px;
    }
}
.rating-review-container {
    width: 48px;
    height: 48px;
    text-align: center;
    display: flex;
    align-items: center;

}

.rating-review-list-content {
    font-size: .85vw;
    width: 44vw;
    padding-left: 15px;
    color: $base-color;
}

.mobile-dish-description {
    position: relative;
    z-index: 1;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 16px !important;
    margin-top: 15px;
    margin-bottom: 10px;
    width: 100%;
    float: left;
    color: #454545;
    font-family: "barlow_semi_condensedregular";
}

.modal-open .modal {
    padding-right: 0 !important;
}

.cart-show-number {
    position: relative;
}

.cart-number {
    background-color: #ce4033;
    width: 15px;
    height: 15px;
    position: absolute;
    /* top: 14px;
  left: 20px;*/
    top: -8px;
    left: 0px;
}

.restaurant-cart-number {
    top: 26px;
    left: 13px;
    color: #FF7E18;
    background: none;
    font-size: 14px;
    font-family: $new-font-medium;
}

.restaurantdetails-back-btn {
    position: absolute;
    top: 10px;
    left: 5px;
    z-index: 3;
    cursor: pointer;
    padding: 5px 10px;
}

.mobile-heart-banner-img {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 3;
    width: 6vw;
}
.cat-dropdown {
    background: transparent;
}

/*customize modal starts*/
.choice-of-breed {
    background-color: $title-gray;
    padding: 15px 12px 15px 12px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-bottom-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    color: $base-color;
    overflow: hidden;
}
.rating-popup-right
{
    padding: 20px;
    padding-top: 20px;
    @include responsive(smtab){
        padding-top: 10px;
    }
}

.choice-bread-title {
    font-size: 20px;
    margin-right: 10px;
    font-family: $new-font-medium;
    color: #363434;
}

.choose-text {
    color: #9b9b9b;
    font-size: 18px;
    font-family: $new-font-regular;
}

.overlay-restname
{
    font-size: 16px !important;
    font-family: $new-font-light !important;
}
.choose-required {
    border-radius: 0px;
    display: inline-block;
    padding: 2px 30px 2px 30px;
    // background-color: #9f9f9f;
    color: $heading-color;
    font-size: 16px;
    // border: #DCDCDC 1px dashed;
}
.mandt-icon
{
    color: $dark-red;
}

.choice-of-bread-options {
    padding-left: 20px;
    margin-top: 12px;
    margin-bottom: 17px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.special-instructions {
    color: #9f9f9f;
    border: #E4E4E4 1px solid;
    border-radius: 5px;
    box-shadow: unset;
    -webkit-box-shadow: unset;
    min-height: 80px;
    -webkit-appearance: none;
}

.specila-inst-box {
    padding: 15px 30px;
    font-size: 0.9vw;
    margin-top: 5px; 
    padding: 0px;
    margin-left: 0px;
}
.addto-cart-section-bar {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding:10px 20px 10px 20px;
    z-index: 2;
    background-color: $white;
}
.dropdown-backdrop{
    position: relative;
}
/* .errorpopup{
    padding-bottom:15px !important;
} */

.addto-cart-bottom-total {
    background-color: $light-green;
    padding: 10px 15px;
    border: 0px;
    color: $white;
    font-size: 22px;
    margin-top: 10px;
    text-align: center;
    font-family: $new-font-semibold;
    @include responsive(tab){
        font-size: 17px;
    }
    @include responsive(smtab){
        font-size: 15px;
    }
}

.orderScroller
{
    height: 100vh;
    overflow-y:auto;
}
.increment-decrement-main.orderSum{
    // width: 72px;
    margin-top: 0px !important;
    @include responsive(phone) {
        // width: 80px;
    }
}

.rating-popup-right
{
    @include responsive(phone) {
        height: 32vh !important;
    }
    @include responsive(xsphone) {
        height: 25vh !important;
    }
}

.increment-decrement-main li {
    display: table;
    float: left;
    padding-left: 0px;
    padding-right: 0px;
}

.minus-button,
.plus-button {
    cursor: pointer;
}

.common-inc-dec {
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    border: 1px solid;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
}

.common-inc-dec img {
    width: 1.2vw;
    margin: 0 auto;
}



/*customize modal ends*/
/*restaurant  detail view rating review modal*/

/*restaurant detail view ends*/

/*restaurant detail empty cart*/
.common-cart-box {
    margin-bottom: 30px;
    margin-bottom: 2.4vw;
    padding-left: 1.2vw;
    padding-right: 1.2vw;
}

.empty-cart-left-container {
    // float: left;
    // width: 75%;
    position: relative;
}

.empty-cart-right-container {
    float: left;
    width: 25%;
    position: sticky;
    top: 150px;
    display: block;
}

/*.common-cart-box:nth-child(4n+1) {
  clear: both;
}*/
.order-summary {
    background-color: $white;
    padding-bottom: 10vh;
    height: 100vh;
    box-shadow: 0 2px 28px 0 rgba(0,0,0,0.12);
    @include responsive(phone){
        padding-bottom: 0px;
    }
}

.order-summary-heading {
    
    background-color: $title-gray;
    margin: 0px;
    padding: 10px 20px 10px 20px;
    h3{ 
        font-size: 21px;
        color: $heading-color;
        margin-top: 0px;
        margin-bottom: 5px;
        font-family: $new-font-medium;
    }
    h5{
        font-size: $base-font - 2; 
        color: $heading-color;
        font-family: $new-font-regular;
        margin-bottom: 0px;
        margin-top: 0px;
    }
}
.adcIncSec
{
    display: flex;
    align-items: flex-start;
}
.adc-Desc
{
    width: 75%;
    padding-left: 25px;
}
.adc-Price
{
    margin-top: 0px;
    width: 25%; 
    text-align: center;
    .adc-Count
    {
        display: inline-block;
    }
}
.adcClosebtn
{
    display: none;
}
.adc-Price p
{
    font-size: 18px;
    color: #848484;
    font-family: $new-font-semibold;
    margin-top: 3px;
    margin-bottom: 0px;
}
.adc-Count .minus-button {
    width: 15px;
    @include responsive(phone) {
        width: 22px;
    }
}
.adc-Count .plus-button {
    width: 15px;
    @include responsive(phone) {
        width: 22px;
    }
}
.adc-Count .increment-value { 
    margin-top: 0px;
    color: $base-color;
    font-size: 10px;
    font-weight: 600;
    @include responsive(phone) {
        margin-top: 0px;
    }
}
.cart-quantity-count
{
    padding-left: 0px !important;
    padding-right: 0px !important;
}


.cart-empty-text {
    color: #b3b7b1;
    font-size: 1.5vw;
}

.empty-cart-image {
    margin: auto;
    margin-top: 3vh;
    margin-bottom: 4vh;
    width: 12vw;
}

.order-summary-restaurant-name {
    font-size: 0.9vw;
    font-family: "OpenSans-Regular";
    display: flex;
    width: 68%;
}

.order-summary-edit-main {
    font-size: 0.8vw;
    margin-bottom: 0px;
}

.order-summary-edit-main li {
    padding-left: 2px;
    padding-right: 2px;
}

.order-summary-edit-main li:last-child {
    padding-left: 0.6vw;
}

.order-summary-edit-image {
    width: 1vw;
}

.order-summary-delete-image {
    width: 1vw;
}

.order-summary-empty-cart {
    color: $base-color;
}

.order-restaurant-list-count {
    width: 2vw;
}

.order-summary-note {
    font-size: 0.7vw;
    margin-left: 2vw;
    width: 80%;
    padding-bottom: 3px;
}

.order-summary-cart-edit-delete {
    border-bottom: 1px solid #EEEEEE;
}
.marginbot15
{
    margin-bottom:15px;
}
.marginbot5
{
    margin-bottom:5px;
}
input.text-uppercase.font-bold.width60 {
    width: 100%;
    padding:  1vw 3vw 1vw 3vw !important;
}
input.text-uppercase.font-bold.order-summary-checkout-btn {
    width: 40%;
    -webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
    padding: 10px;
}
input.text-uppercase.font-bold.width45 {
    width: auto;
    border-radius: 5px;
    padding: 10px;
}


.common-item-size {
    font-size: 1.4rem;
    font-family: "Source Sans Pro"!important;
    font-weight: 400;
}
.common-item-sizeTotal {
    font-size: 1.5rem;
    font-family: "Source Sans Pro"!important;
    font-weight: 600;
}

.common-item-size-right1 {
    font-size: 0.1.4rem;
    font-family: "Source Sans Pro"!important;
    font-weight: 400;
}

.common-item-size-right2 {
    font-size: 1.4rem;
    font-family: "Source Sans Pro"!important;
    font-weight: 400;
}

.order-summary-checkout-btn {
    background-color: $primary-color;
    font-size: 1.1vw;
    color: $white;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 40px;
    border: 0px;
    padding: 6px 30px !important;
}
.order-summary-checkout-btn1 {
    background-color: $light-green;
    color: $white;
    margin-top: 0px;
    margin-bottom: 0px;
    border: 0px;
    padding:0;
    border-radius: 5px;
    
}
.sideaCart-cashback
{
    margin-top: 20px;
    span{
        border: #97AE8C 1px dashed;
        padding: 10px;
        display: inline-block;
        text-align: center;
        color: $heading-color;
        font-family: $new-font-medium;
        width: 100%;
        font-size: $btn-text;
        background-color: #F1F4EF;
        @include responsive(phone){
            font-size: $base-font;
        }
    }
    @include responsive(phone){
        margin-top: 10px;        
    }
}

.stickBtn
{
    position: fixed;
    bottom: 0px;
    width: 25%;
    max-width: 400px;
    padding: 20px;
    background-color: #FCFCFC;
    @include responsive(phone){
        padding: 10px;     
    }
}

/*restaurant detail empty cart ends*/


.outStock-overlay
{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  z-index: 1;
  background-color: #00000057;
  .ofs-text
  {
    color: $white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 50%;
    font-size: $btn-text;
    line-height: 120%;
    text-align: center;
    padding: 12px 5px;
    z-index: 2;
    border: $white 2px dashed;
    font-family: $new-font-medium;
    text-transform: uppercase;
  }
}

.review-rating-contentwrao
{
 background-color: $white;
 @include responsive(phone){
   background-color: transparent;
 }
}
.popup-image-bg
{
    @include responsive(phone){
        // background-color: #00000059;
        background-color: $white;
    }
}
.card-details-gray
{
  img{
    left: 15px;
  }
}

.dishSearch
{
  // width: 100%;
  // padding-right: 0px;
}

.mobile-cart-button
{
  @include responsive(phone){

  }
}
.disabledClick
{
  cursor: pointer;
  pointer-events: none;
  .minus-button
  {
      background-color: $disable-color;
      .svg-remove-icon
      {
          svg.svg-icon-remove{
              #new-remove
              {
                  stroke: $white;
              }
          }
      }
  }
  .plus-button
  {
      background-color: $disable-color;
      .svg-add-icon
      {
          svg.svg-icon-add{
              #new-add
              {
                  stroke: $white;
              }
          }
      }
  }
}
.disabledButton
{
  pointer-events: none;
  background-color: $disable-color !important;
}

.mobile-hidden
{
  @include responsive(phone){
    display: none;
  }
}

.desktop-hidden
{
  @include responsive(largePhone){
    display: none;
  }
}
.increment-decrement-main
{
  @include responsive(smtab){
    margin-top: 12px !important;
    padding-right: 0px;
  }
}
.dish-popup-img
{
  width: 100%;
}
.activeDate
{
  font-family: "OpenSans-SemiBold" !important;
}
.operationTime
{
  display: inline-block;
  vertical-align: text-top;
}

.small-modal
{
  max-width: 506px;
  transform: translate(0,43%) !important;
}
.small-modal-body-area
{
    padding: 10px 25px;
}
.p15{
  padding: 15px 15px;
}
.font20
{
  font-size: $btn-text - 3px;
  color: $base-color;
  margin-bottom: 15px;
  @include responsive(xsphone) {
      font-size: $btn-text - 6px;
  }
}
.replace-btn-set
{
  list-style-type: none;
  padding-left: 0px;
  margin-bottom: 0px;
  li{
    display: inline-block;
    a{
      display: inline-block;
      font-size: $btn-text;
      text-align: center;
      padding: 10px 5px;
      font-size: $btn-text - 3px;
      @include responsive(xsphone) {
          font-size: $btn-text - 6px;
      }
      
      
    }
  }
  li.neg-btn
  {
    width: 40%;
    a{
      color: #A8A4A4;
      border: #A8A4A4 1px solid;
      border-radius: 5px;
      background-color: $white;
      width: 90%;
      font-family: $new-font-semibold;
      font-size: 22px;
      text-align: center;
      @include responsive(phone){
        width: 100%;
    }
    }
    @include responsive(phone){
        width: 100%;
    }

  }
  li.pos-btn
  {
    width: 60%;
    a{
      background-color: $light-green;
      color: $white;
      text-align: center;
      width: 100%;
      border: $light-green 1px solid;
      border-radius: 5px;
      font-family: $new-font-semibold;
      font-size: 22px;
    }
    @include responsive(phone){
        width: 100%;
        margin-top: 10px;
    }

  }
}
.multiple-timeopen
{
    display: inline-block;
    font-family: $new-font-medium;
    font-size: 1.1vw;
}
.common-modal-close
{
    position: absolute;
    right: 0;
    top: -40px;
    z-index: 9999;
    background: transparent;
    border: none;
    @include responsive(phone){
       top: 8px;
    }
}
.replace-modal-area
{
    .custom-detail-modal-content
    {
        padding: 15px;
        .see-review-modal-close
        {
            margin-top: 0px;
        }
    }
}
.withCartPop
{
    width: 75%;
    margin: 0px;
    padding-right: 15px;
    transition: all .4s;
    @include responsive(phone) {
        width: 100%;
    }
    .restaurant-detail-view-main
    {
        // min-height: 17vw;
        .restaurantdetail-address-container
        {
            left: 0;
            top: 50%;
            transform: translate(0px, -50%);
            ul.active-restaurant-details-main
            {
                width: 100%;
            }
        }
    }
    
}
.rest-details-bannertop {
    margin-bottom: 20px;
    width: 100%;
    li{
        display: inline-block;
    }
    
}
.poplarItemTag
{
    color: $heading-color;
    background-color: $secondary-color !important;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
}
.rest-details-bannemiddle {
    margin-bottom: 35px;
    width: 100%;
    li{
        margin-bottom: 10px;
        font-family: $new-font-medium;
    }
    
}
.restaurantdetail-address-container {
    z-index: 2;
    padding-left: 2vw;
    position: absolute;
    top: 50%;
    transform: translate(0px, -50%);
    // bottom: 70px;
    
}
.sideCart-area
{
    background-color: $white;
    width: 25%;
    margin: 0;
    display: inline-block;
    height: 100vh;
    position: fixed;
    z-index: 3;
    right: 0;
    top: 0;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.07);
-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.07);
box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.07);
    padding-top: 73px;
    transition: all .4s;

}
.order-summary-option
{
    list-style-type: none;
    padding-left: 0px;
    margin-bottom: 0px;
    display: inline-block;
    overflow: hidden;
    li{
        float: left;
        padding: 0px 10px;
        border-right: 1px solid $btn-gray;
        a{
            color: $black;
            font-size: 15px;
            display: inline-block;

        }
        &:last-child{
            border-right: none;
        }
    }
    .orderActive
    {
        a{
            border-bottom: 2px solid $primary-color;
        }
    }
}
.adc-Desc h2
{
    font-size: $base-font;
    padding-bottom: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: $heading-color;
    font-family: $new-font-medium;
}
.sideCart-subtext
{
    color: $base-color;
    font-size: 14px;
    font-family: $new-font-regular;
    padding-left: 15px;
}
.list
{
    @include responsive(tab) {
        margin-left: 0px;
    }
}
.land-view
{
    border-left: $extra-light-gray 1px solid;
    @include responsive(tab) {
        border-left: none;
        background-color: $white;
        border-radius: 5px;
        -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.07);
        -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.07);
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.07);
        margin-top: 0px;
    }
}
.dropdown-arrow
{
    position: absolute;
    right: 10px;
    top: 15px;
    z-index: 2;
    img{
        width: 20px;
    }
}
.menu-sort-drop
{
    ul.dropdown-menu
    {
       
        left: -10px;
        padding: 5px;
        border-radius: 0px;
        -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.12);
        -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.12);
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.12);
        border: none;
        border-radius: 5px;
        width: 250px;
        margin-bottom: 30px;
        z-index: 2 !important;
        li{
            a{
                padding: 10px 10px;
                border-radius: 5px;
                display: inline-block;
                width: 100%;
                transition: all .4s;
                span.menu-sort-title
                {
                    font-size: 16px;
                    display: block;
                    font-family: $new-font-regular;
                    color: $heading-color;
                }
                span.menu-sort-times
                {
                    font-size: 16px;
                    display: block;
                    font-family: $new-font-regular;
                    color: #8B8B8B;
                }
                &:hover{
                    color: $primary-color; 
                }
            }
        }
        @include responsive(tab) {
            width: auto;
            left: 0px;
        }
    }
}
.restarurant-details-rate
{
    color: $white;
    font-family: $new-font-medium;
    margin-left: 10px;
    font-size: 1.7vw;
    position: relative;
    top: 5px;
    @include responsive(tab) {
        margin-left: 10px;
        font-size: 10px;
        position: relative;
        top: 0px;
    }
}

.restarurant-details-address
{
    color: $white;
    font-family: $new-font-medium;
    margin-left: 0px;
    font-size: 1.2vw;
    position: relative;
    top: 5px;
    img{
        position: relative;
        top: 2px;
    }
    @include responsive(tab) {
        margin-left: 0px;
        font-size: 10px;
        top: 0px;
    }
}

.selectedHighlight
{
    a{
        color: $heading-color !important;
        background-color: $secondary-color;
        span.menu-sort-times
        {
            color: $heading-color !important;
        }
    }
} 
.mobile-cuisin
{
    @include responsive(xsphone){
        margin-left: 0px !important;
    }
}
.rest-detail-bannerrating
{
    width: 15%;
    img{
        position: relative;
        top: -2px;
    }
    @include responsive(phone){
        width: 20%;
    }
}
.rest-detail-bannercusion
{
    width: 80%;
    span.rest-det-icons
    {
        img{
            position: relative;
            top: -3px;
        }
    }
}
.rest-det-cashback-area
{
    background-color: $primary-color;
    // padding: 20px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    border-radius: 100%;
    text-align: center;
    color: $white;
    z-index: 9;
    width: 100px;
    height: 100px;
    .rest-det-cashback-sec
    {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        padding-top: 12px;
        @include responsive(tab) {
            padding-top: 5px;
        }
        span.cashbackCount{
            font-family: $new-font-bold;
            font-size: 27.5px;
            line-height: 100%;
            @include responsive(tab) {
                display: block;
                font-size: 16px;
                
            }
        }
        span.cashbackText
        {
            font-family: $new-font-regular;
            font-size: 16.5px;
            display: inline-block;
            width: 100%;
            line-height: 100%;
            @include responsive(tab) {
                display: block;
                font-size: 12px;
            }
        }
    }
    @include responsive(tab) {
        width: 60px;
        height: 60px;
        bottom: 10px;
        right: 10px;
    }
    
}

.menu-scrol-list
{
    .item
    { 
        border-right: thin solid $extra-light-gray;
        border-width: 1.5px !important;
        box-sizing: content-box;
        // border-right: thin solid $extra-light-gray;
        height: 55px;
        line-height: 55px;
        // padding-left: 10px;
        // padding-right: 10px;
        text-align: center;
        white-space: nowrap;
        padding: 0 2px;
        display: inline-block;
        // flex-basis: inherit !important;
        @include responsive(tab) {
            .popular-items-navigation
            {
                white-space: nowrap;
                transition: all 0.3s ease-in-out;
                -webkit-transition: all 0.3s ease-in-out;
                -moz-transition: all 0.3s ease-in-out;
            }
        }        
        &:last-child{
            border-right: none;
            @include responsive(tab) {
                
            }
        }
        
    }
}
.menu-scrol-list .VueCarousel-inner {
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}
.rest-card-rating
{
    padding-left: 10px;
    padding-right: 10px;
}
.fevSelected
{
    background-color: $dark-red !important;
    img{
        width: 21px;
    }
}
.rest-card-list-slider
{
    // padding-left: 0;
    // padding-right: 0;
    // padding-left: 7px;
    // padding-right: 7px;
    @include responsive(phone){
        padding-left: 10px;
        padding-right: 10px;
    }
}
.viewall-mrg{
    @include responsive(phone){
        padding-left: 3px;
        padding-right: 3px;
    }
}
.rest-detail-card-list
{
    @include responsive(xsphone){
        padding-left: 5px;
        padding-right: 5px;
    }
}
.increment-decrement-main {
    float: left;
    padding-top: 0px;
    margin-bottom: 0px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.09);
    border-radius: 5px;
    margin-top: 8px !important;
    @include responsive(tab){
        margin-top: 8px !important;
        padding-right: 0px !important;
    }
    @include responsive(smtab){
        margin-top: 12px !important;
        padding-right: 0px !important;
    }
    li{

        div.minus-button
        {
            -webkit-border-top-left-radius: 5px;
            -webkit-border-bottom-left-radius: 5px;
            -moz-border-radius-topleft: 5px;
            -moz-border-radius-bottomleft: 5px;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            width: 20px;
            text-align: center;
            line-height: 24px;
            height: 30px;
            img{
                display: inline-block;
                vertical-align: initial;
            }
            @include responsive(phone){
                line-height: 30px;
            }
        }
        div.plus-button
        {
            -webkit-border-top-right-radius: 5px;
            -webkit-border-bottom-right-radius: 5px;
            -moz-border-radius-topright: 5px;
            -moz-border-radius-bottomright: 5px;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            width: 20px;
            text-align: center;
            line-height: 30px;
            height: 30px;
            img{
                display: inline-block;
                vertical-align: text-bottom;
            }
            @include responsive(phone){
                line-height: 35px;
            }
        }
      
    }
}

.increment-value {
    color: $base-color;
    background-color: $extra-light-gray;
    font-size: 18px;
    padding: 0px 5px;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px !important;
}
.left-rectangle-shape
{
    font-family: $new-font-regular;
}
.cart-close
{
    position: absolute;
    top: 21px;
    right: 10px;
    display: inline-block;
    cursor: pointer;
}
body.modal-open
{
    // padding-right: 0px !important;
    transition: all .4s; 
}
.sidecart-total
{
    font-size: $base-font;
    color: $heading-color;
    font-family: $new-font-medium;
}

.VueCarousel-navigation-prev
{
  transform: translateY(0%) translateX(0%) !important;
  top: 0 !important;
  height: 55px;
  background-color: $white !important;
  outline: none !important;
//   @include responsive(tab){
//     display: none;
//   }
&::before{
    content: "";
}
}
.VueCarousel-navigation-next
{
  transform: translateY(0%) translateX(0%) !important;
  top: 0 !important;
  height: 55px;
  background-color: $white !important;
  outline: none !important;
//   @include responsive(tab){
//     display: none;
// }
}
.rating-popup-right
{
    @include responsive(tab){
        // height: 60% !important;
    }
}


.signin-btn
{
    position: relative; 
    top: -10px;
    color: $heading-color;
    font-family: $new-font-medium;
    font-size: $base-font;
    outline: none !important;
    span.svg-signin
    {
        vertical-align: middle;
        margin-right: 10px;
    }
    &:active{
        box-shadow: none;
    }
}

.sidecheckout-options
{
    border-bottom: $title-gray 1px solid;
    .sidecheckout-options-item
    {
        list-style-type: none;
        padding-left: 0px;
        margin-bottom: 0px;
        overflow: hidden; 
        li{
            display: inline-block;
            text-align: center;
            width: 50%;
            border-right: $title-gray 1px solid;
            float: left;
            button.sidecheckout-options-choose
            {
                border: none;
                display: inline-block;
                width: 100%;
                padding: 15px;
                background-color: $white;
                height: 55px;
                outline: none;
                span{
                    margin-left: 5px;
                }
            }
            button.activeOption
            {
                background-color: $secondary-color;;
            }
        }
    }
}
.if-sold-sec
{
    padding: 0px 8px;
    .if-sold-option
    {
        background-image: url(../images/icons/arrow/Dropdown.png) !important;
        background-position: right 15px bottom 15px;
    }
}

.if-sold-option-list
{
    width: 100%;
    // border: #E4E4E4 1px solid;
    margin-top: 5px;
    border-radius: 5px;
    .menu-sort-drop {
        ul.dropdown-menu
        {
            width: 100%;
            left: 0px;
            li{
                a{
                    &:hover{
                        color: $heading-color!important;
                    background-color: $secondary-color
                    }
                }
            }
        }
    }
}

.itemScroll
{
    display: inline-block;
}
.modal-choice-group {
    padding: 0;
    display: inline-block;
    margin-bottom: 15px;
    border: 1px solid #F7F7F7;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 0px;
}
.if-sold-container
{
    // padding: 0;
    // border: 2px solid $extra-light-gray;
    // border: $extra-light-gray 1px solid;
    // border-radius: 5px;
    input, textarea {
        border: none !important;
    }
    textarea {
        resize: none !important;
    }
}
.if-sold-container .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-family: $new-font-regular;
    font-size: 16px !important;
    color: #bdbdbd !important;
}
.if-sold-container .form-control::-moz-placeholder { /* Firefox 19+ */
    font-family: $new-font-regular;
    font-size: 16px !important;
    color: #bdbdbd !important;
}
.if-sold-container .form-control:-ms-input-placeholder { /* IE 10+ */
    font-family: $new-font-regular;
    font-size: 16px !important;
    color: #bdbdbd !important;
}
.if-sold-container .form-control:-moz-placeholder { /* Firefox 18- */
    font-family: $new-font-regular;
    font-size: 16px !important;
    color: #bdbdbd !important;
}
.errorAddress
{
    color: $dark-red;
    font-family: $new-font-medium;
    font-size: 18px;
    margin-bottom: 15px;
    padding: 10px 5px;
    border: $dark-red 1px dashed;
    background-color: lighten($dark-red, 50%);
}
.dish-form {
    margin-top: 10px;
    .input-group {
        width: 100%;
    }
}

.popular-menu-listing .VueCarousel .VueCarousel-navigation .VueCarousel-navigation--disabled
{
    display: none;
    appearance: none; 
}
.bodyAlignTop
{
    margin-top: 60px;
}
.reviews-modal {
    padding-right: 0 !important;
}

.common-form{
    .menu-sort-drop__tck{
        span{
            color: #555;
        }
        .input-text{
            padding-left: 22px;
        }    
        .dropdown-arrow__tck{
            top: 9px;
        }
        .dropdown-menu{
            left:0;
            width: 100%;
            li {
                a{
                    padding: 5px 10px;
                    color: #555;
                }
            }
        }
    }
}


.cont-reduce-height{
    position: relative
}
.mbot-30{
    margin-bottom: 30px
}

@media (min-width:768px) and (max-width:991px){
    .restaurant-detail-view-main{
        min-height: 25vw;
    }
    .restaurantdetails-back-btn{
        top: 3px;
        left: 23px;
    }
    .restaurantdetail-address-container{
        transform: translate(0px, -40%);
    }
}

@media (min-width:992px) and (max-width:1279px){
    .restaurant-detail-view-main{
        min-height: 26vw;
    }
    .restaurantdetails-back-btn{
        top: 9px;
        left: 27px;
    }
}


@media (min-width:1280px){
    .restaurant-detail-view-main{
        min-height: 25vw;
    }
    .restaurantdetails-back-btn{
        top: 12px;
        left: 33px;
    }
}

@media (max-width:480px){
    .restaurantdetail-address-container{
        top: 40px!important;
    }
}