@media (max-width: 1199px) {
    .common-popular-item-width{
        width: 33.333%;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {

    /*restaurant page */
    .restaurant-name {
        font-size: 1.7vw;
    }

    .restaurant-rating {
        /*font-size: 1.7vw;*/
        margin-right: 0px;
    }

    .rating-icon {
        width: 1.7vw;
        margin-right: 0px;
        margin-top: -4px;
    }
    .godysh-card-container
    {
        margin-top: 52px;
    }

    .restaurant-location {
        /*font-size: 10px;*/
    }

    .address-content {
        /*font-size: 10px;*/
    }

    /*newly added label*/
    .left-rectangle-shape {
        height: 23px;
        position: relative;
        background: #4f7942;
        display: inline-block;
        text-align: center;
       line-height: 13px;
        padding: 5px 7px 5px 15px;
        margin-top: 2px;
        font-size: 12px; 
        width: 90%;
    }

    .left-rectangle-shape::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 0;
        border-left: 9px solid #fff;
        border-top: 10px solid transparent;
        border-bottom: 12px solid transparent;
    }

    /* restaurant page ends */
    /* splash page start */
    .img-icon-splash {
        width: 3vw;
    }

    .tab-con {
        font-size: 3vw;
    }

    .splash-tab-links {
        width: 90%;
    }

    /*splash page ends*/

    /*add card starts*/

    .signup-form .form-group label {
        font-size: 2vw;
    }

    .signup-form-container .form-group label {
        font-size: 2.5vw;
    }
    .input label{    top: 28px;}
    .card-number-img {
        width: 7vw;
    }

    .orderreview-visa-img {
        width: 3vw;
        top: 12px;
    }

    .common-card-head-title {
        font-size: 3vw;
        margin-top: 5vh;
    }

    .signup-form {
        padding: 3vh 60px;
    }

    .form-submit-main .submit-button {
        padding: 1vh 3vw;
        font-size: 2vw;
    }

    .signup-form input {
        font-size: 2vw;
    }

    .signup-form .form-control:focus+.form-control-placeholder,
    .signup-form .form-control:valid+.form-control-placeholder {
        font-size: 1.5vw;
    }

    /*add card ends*/

    /*card management list page*/
    .common-rightside-card-main {
        min-height: 2px;
    }

    /*card management list page ends*/

    /*dish page */
    .dish-list-address-main li {
        margin-bottom: 0.2vh;
        line-height: 1;
    }

    .dish-list-address-main {
        margin-top: 0.1vh;
    }

    .dish-rating-details {
        width: 60%;
    }

    .add-dish-icon-bg {
        max-width: 42px;
    }

    .add-dish-hover {
        width: 5px;
    }

    /*dish page ends*/
    /*favorite page*/
    .popular-item-rating-icon {
        width: 1.9vw;
    }

    .popular-item-reviews {
        margin-top: 1px;
    }

    .popular-rating-reviews {
        margin-top: 0.7vw;
    }

    .favorite-card {
        line-height: 1;
    }

    .favorit-rating-icon {
        /* width: 1vw; */
    }

    .favorite-rating-number {
        font-size: 12px;
        padding-top: 0.1vw;
    }

    /*favorite page ends*/
    /*restaurant details view starts*/
    .rating-review-list-content {
        width: 88%;
    }

    .popular-item-rating-total {
        padding-top: 0px;
    }

    /*restaurant details view ends*/
    /* 13SEP2019 */
    .search-filter-header {
        /* padding: 15px 5px; */
        padding-top: 55px;
    }

    .btn-filter-outline {
        font-size: 11px;
        padding: 4px 15px;
    }

    /* 13SEP2019 New Styles*/
    .map-width {
        width: 100% !important;
        clear: both;
        display: table;
    }

    .search-text {
        font-size: 2vw;
    }
    .common-popular-item-width{
        width: 33.333%;
    }
   
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .signup-form .form-group label {
        font-size: 1.5vw;
    }

    .card-number-img {
        width: 5vw;
    }

    .common-card-head-title {
        font-size: 2vw;
        margin-top: 4vh;
    }

    .signup-form {
        padding: 3vh 60px;
    }

    .form-submit-main .submit-button {
        padding: 0.8vh 3vw !important;
        font-size: 1.5vw !important;
    }

    /*dish page */
    .dish-list-address-main li {
        margin-bottom: 0.4vw;
        line-height: 1.2;
    }

    .dish-list-address-main {
        margin-top: 0.3vh;
    }

    /*dish page ends*/

    /*restaurant details view starts*/
    .rating-review-list-content {
        width: 85%;
    }

    /*restaurant details view ends*/

    /* 13SEP2019 New Styles*/
    .map-width {
        /* width: 100%; */
        width: 50%;
    }
    .left-rectangle-shape{
        font-size: 10px;
        padding-top: 8px;
    }
    .search-filter-header{
        /* padding: 15px 25px 0px; */
        /* padding-top: 15px; */
        padding-top: 0;
        padding-bottom: 0;
    }
    
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .left-rectangle-shape {
    font-size: 12px;
    padding-top: 0px;
    line-height: 30px;
}
    .signup-form .form-group label {
        font-size: 1.9rem;
    }

    .card-number-img {
        width: 6rem;
    }

    .common-card-head-title {
        font-size: 2.7rem;
        margin-top: 4vh;
    }

    .signup-form {
        padding: 3vh 60px;
    }

    .form-submit-main .submit-button {
        padding: 1vh 3vw;
        font-size: 1.8vw;
    }

    .signup-form input {
        font-size: 2rem;
    }

    .signup-form .form-control:focus+.form-control-placeholder,
    .signup-form .form-control:valid+.form-control-placeholder {
        font-size: 1.4rem;
    }

    .form-submit-main .submit-button {
        font-size: 14px !important;
    }

    /*dish page starts*/
    .dish-primary-address {
        font-size: 1.5vw;
    }

    .dish-restaurant-name {
        font-size: 3.2rem;
        margin-bottom: 0.3vw;
    }

    .dish-list-address-main {
        margin-top: 0.2vw;
    }

    /*dish page ends*/

    .orderreview-visa-img {
        width: 5rem;
        top: -5px;
    }

    /* 13SEP2019 New Styles*/
    .map-width {
        width: 50%;
    }
    /* .search-filter-header{
        padding: 2.34vw 5.85vw 0 5.85vw;
    } */
   
}

@media screen and (min-device-width: 768px) and (max-device-width: 1824px) and (orientation : portrait){
    .see-rating-review-detail
    {
        /* min-height: 20vh; */
    }
    .review-rating-contentwrao {
        height: auto;
    }
    .rating-address-details {
        font-size: 1.4vw;
    }

}
@media screen and (min-device-width: 768px) and (max-device-width: 1824px) and (orientation : landscape){
    .see-rating-review-detail
    {
        /* min-height: 20vh; */
    }
    .review-rating-contentwrao {
        height: 32vh;
    }
    .rating-address-details {
        font-size: 1.2vw;
    }
    .increment-value {
        margin-top: 7px;
    }
    .ipad .increment-value{margin-top: 0; line-height: 1;}
    .ipad .addto-cart-bottom-total{margin-top:2px;}
    .ipad .minus-button, .plus-button {cursor: pointer;  margin-top: 0px;    }
    
}
